{%  extends "_base.html" %}

{% set title="External Author List Flags" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block page_content %}

    {%  if table_data %}
    {{ macros.render_table(table_data) }}
    {% else %}
    No projects configured
    {% endif %}

    <div style="visibility: hidden" id="formHideout"></div>

{% endblock %}

{% block page_complement %}
        <button id="NewFlagButton" type="button" class="btn btn-success" onclick="$.ajax({url: '{{ form_url }}',
                success: function(data){
                    $('#formHideout').html(data);
                }})">Add new flag</button>
{%  endblock %}
