{% import "_macros.html" as macros %}


{% if form %}

    {# The loop checks if the form has been submitted. If so and if there are no errors - close all modals
     Maybe this page should show the modal as well? Then The other could just call it and append the code
     to some temporary section...
     #}

    {% for field in form %}
        {% if field.data and not form.errors %}
            <script type="text/javascript">
            $.each(BootstrapDialog.dialogs, function(id, dialog){
                dialog.close();
            });
        </script>
        {% endif %}
    {% endfor %}

    {{ macros.render_form_quick(form, id="dialogForm", action=action) }}
        <script type="text/javascript">
            function setupSubmit(){
                console.log('Patching submit...');
                var theForm = $('#dialogForm');
                theForm.submit(function(){
                    event.preventDefault();
                    var data = theForm.serialize();
                    console.debug('Submit suppressed, data: '+data);
                    var response = $.ajax({
                        type: "POST",
                        url: "{{ action }}",
                        data: data,
                        success: function (){
                            console.log('success, sent: ' + data);
                            console.log('and got back: ' + response.responseText.length + ' of response');
                            theForm.parent().html(response.responseText);
                        },
                        dataType: 'html'
                    });
                });
            }
            $(document).ready(setupSubmit());
        </script>

{% endif %}