{% extends "_base.html" %}

{% block page_content %}

    {% if form %}

        <form action="" method="post" name="createALFiles">
            {{ form.hidden_tag() }}

            <div class="form-group  required"> {{ form.code.label         }} <br /> {{ form.code }} </div>
            <div class="form-group  required"> Force re-creation of files    <br /> {{ form.forceRewrite }} </div>


            <span>
                <br />
                <input type="submit" name="subCan" value="Submit">
                <input type="submit" name="subCan" value="Cancel">
                <br />
            </span>
        </form>

        {%  if diffURL %}
            <p>
            <a href="{{ diffURL }}">Check the differences to the reference files.</a>
            </p>
        {%  endif %}


        <a href="{{ url_for('author_lists.route_list_al_files') }}">Click here</a> to see the list of all generated author list files.

    {% endif %}

{% endblock %}
