{% extends "_base.html" %}

{% block page_content %}

    {% if form %}

        <form action="" method="post" name="createALDB">
            {{ form.hidden_tag() }}

            <div class="form-group  required"> {{ form.code.label         }} <br /> {{ form.code }} </div>
            <div class="form-group  required"> {{ form.forceRewrite.label }} <br /> {{ form.forceRewrite }} </div>


            <span>
                <br />
                <input type="submit" name="subCan" value="Submit">
                <input type="submit" name="subCan" value="Cancel">
                <br />
            </span>
        </form>

    {% endif %}

{% endblock %}
