{% extends "_base.html" %}

{% block page_content %}

    <h2>Generated CMS Authorlist files</h2>

<div class="col-md-11 brick huge padded">
    <table id="alFileList" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="15%">paper</th>
                <th width="20%">tex</th>
                <th width="15%">xml</th>
                <th width="20%">html</th>
                <th width="15%">last modified</th>
                <th width="15%">XML File Checker</th>
                <th width="10%">status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in alFiles %}
            <tr>
                <td class="{{ lfTimes[item][5] }}"> {{ item }} </td>
                <td> {{ lfTimes[item][2] | safe }} </td>
                <td> {{ lfTimes[item][3] | safe }} </td>
                <td> {{ lfTimes[item][4] | safe }} </td>
                <td> {{ lfTimes[item][0] | safe }} </td>
                <td> <a href="https://cern.ch/icms-secr/authorlistParser/parsexml.py?XMLfile={{ item }}"> {{ item }} </a> </td>
                <td class="{{ lfTimes[item][5] }}" width="10%">{{ lfTimes[item][5] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}

<script language="JavaScript">
$(document).ready(function() {

    var table = $('#alFileList').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "order": [[4, 'desc']],
        "dom": '<"top"lifr>t<"bottom"flp>',
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
    });

})

</script>

{% endblock %}
