{% extends "_base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

In brief, this page allows Institute Leaders to control the <code>MISC_authorno</code> flag for members of their institute.
<br><br>
<code>MISC_authorno</code> flag provides means of "freezing" / reinstating signing rights of CMS members who otherwise fulfill all the requirements to be authors:
    <ul>
        <li>setting the flag takes a member off the author list (the "freeze" option)</li>
        <li>removing the flag reinstates signing rights unless other unmet requirements exist (the "unfreeze" option)</li>
    </ul>
Please note that CMS signing rights are determined daily. Any changes made to the flags may therefore take up to 24h to become effective.
<br><br>
Any <em>changes</em> made to this page <em>will only be preserved upon pressing</em> the <em>"Save changes"</em> button at the bottom of the page.


{% block header_extra %}

This page allows Institute Leaders to take action upon members of their institute who have met the EPR requirements to become authors.
<br><br>
Until now, the signing rights of members listed below have been blocked.
Now the block is to be lifted which, in case all other requirements are fulfilled,
will result in adding the members to CMS Author List. <br>
At this stage, the following options are available:
<ul>
    <li><i>Allow signing</i> - grants signing rights.</li>
    <li><i>Set awaiting MO</i> - (shows only when M&O condition is not satisfied) sets the member as ready for
        authorship but they will only obtain their signing rights when M&O requirement is met.</li>
    <li><i>Put on hold</i> - sets <code>MISC_authorno</code> flag for the member, effectively "freezing" their
        authorship rights until the flag is removed. The flags can be managed {{link_there.render() | safe}}.</li>
    <li><i>Decide later</i> - equivalent to no input, no information will be stored.</li>
</ul>
Please note that CMS signing rights are determined daily. Any changes made to the flags may therefore take up to 24h to become effective.
<br>
Any <em>changes</em> will only be <em>saved upon pressing</em> the green <em>"Save changes"</em> button at the bottom of the page.

{% endblock %}

{% block top_container %}

    {% if table_data %}
    {{ macros.render_table(table_data) }}
    {% endif %}

{% endblock %}
