<template>
    <v-dialog :value="value" @input='$emit("input", $value)' maxWidth="600px" class='zindex-modal'>
        <v-card>
            <v-card-title class="headline">{{isEdit ? 'Edit Booking' : 'Create Booking'}}</v-card-title>
            <v-card-text>
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    <v-container>
                        <v-row no-gutters>
                            <v-col class='mr-2'>
                                <v-text-field label='Title' v-model='formState.title' :rules='titleRules' />
                            </v-col>
                            <v-col :cols='3'>
                                <v-select label='Room' v-model='formState.room_id' :items='rooms' /> 
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col :cols='6' class='mr-2'>
                                <v-select label='Date' v-model='formState.date' :items='dayOptions' />
                            </v-col>
                            <v-col class='mr-2'>
                                <time-input label='Starts At' v-model='formState.timeStart' :rules='timeStartRules' />
                            </v-col>
                            <v-col>
                                <time-input label='Ends At' v-model='formState.timeEnd' :rules='timeEndRules' />
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col class='mr-2'>
                                <v-checkbox label='Official' v-model='formState.official' />
                            </v-col>
                            <v-col class='mr-2'>
                                <v-checkbox label='Webcast' v-model='formState.webcast' />
                            </v-col>
                            <v-col class='mr-2'>
                                <v-text-field prepend-icon="mdi-account-multiple" label='Capacity' v-model='formState.capacity' />
                            </v-col>
                            <v-col>
                                <v-text-field prepend-icon="mdi-key"  label='Password' v-model='formState.password' />
                            </v-col>
                        </v-row>
                        <v-select label='Project' v-model='formState.project' :items='projectOptions' />
                        <v-textarea label='Reason' v-model='formState.reason' />
                        <v-textarea label='Remarks' v-model='formState.remarks' />
                        <v-text-field label='Agenda Url' v-model='formState.agendaUrl' />
                        <person-picker label='Make the booking on behalf of another person' clearable placeholder v-model='formState.cmsIdFor'></person-picker>
                    </v-container>
                    
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="close">
                    Close
                </v-btn>

                <v-btn color="green darken-1" text @click="submit">
                    Submit
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import moment from 'moment';
import AjaxCalls from '../utils/AjaxCalls';
import { fieldRequiredRule } from '../utils/validation';

import TimeInput from './inputs/TimeInput.vue';
import PersonPicker from './VuetifyPersonPicker.vue';
export default {
    name: "BookingFormDialog",
    components: {
        'time-input': TimeInput,
        'person-picker': PersonPicker,
    },
    props: {
        value: { type: Boolean, required: true, default: false},
        booking: { default: null},
        weekId: { default: null },
        roomId: { default: null },
        date: { default: null },
        rooms: { type: Array, default: () => [] },
        days: { type: Array, default: () => [] },

    },
    data(){
        return {
            formState: this.getInitialFormState(),

            valid: true,
            titleRules: [fieldRequiredRule('Title')],
            timeStartRules: [fieldRequiredRule('Starts At'),this.timeIsAfterRule],
            timeEndRules: [fieldRequiredRule('Ends At'),this.timeIsAfterRule],

            projects: []
        };   
    },
    watch: {
        booking(){
            this.initialize();
        },
        roomId(){
            this.initialize();
        },
        date(){
            this.initialize();
        }
        
    },
    computed: {
        isEdit(){
            return !!this.booking;
        },
        dayOptions(){
            return this.days.map(day => ({value: day, text: moment(day).format('ddd DD MMMM YYYY')}))
        },
        projectOptions(){
            return this.projects.map(({code, name}) => ({value: code, text: name}))
        }
    },
    methods: {
        initialize(){
            if(this.$refs.form) this.$refs.form.reset();
            this.$nextTick(() => {
                this.formState = this.booking 
                    ? this.getFormStateFromBooking(this.booking) 
                    : this.getInitialFormState();
            });
        },
        getInitialFormState(){
            const {roomId, date} = this.$props;
            
            return ({
                room_id: roomId,
                date: date,
                
                cmsIdFor: null,

                title: null,
                timeStart: null,
                timeEnd: null,
                project: null,
                password: null,
                capacity: null,
                agendaUrl: null,
                remarks: null,
                reason: null,

                webcast: false,
                official: true,
            });   
        },
        getFormStateFromBooking(booking){
            const timeStart = moment(booking.time_start);
            return {
                room_id: booking.room_id,
                date: timeStart.format('YYYY-MM-DD'),
                
                cmsIdFor: booking.cms_id_for,

                title: booking.title,
                timeStart: timeStart.format('HH:mm'),
                timeEnd: timeStart.add(booking.duration, 'minutes').format('HH:mm'),
                project: booking.project,
                password: booking.password,
                capacity: booking.capacity,
                agendaUrl: booking.agenda_url,
                remarks: booking.remarks,
                reason: booking.reason,

                webcast: booking.webcast,
                official: booking.official,
            }
        },
        getBookingFieldsFromFormState(){
            const { date, timeStart, timeEnd } = this.formState;
            const startDate = moment(`${date} ${timeStart}`);
            const dateEnd = moment(`${date} ${timeEnd}`);
            const duration = moment.duration(dateEnd.diff(startDate)).asMinutes();
            return {
                ...this.formState,
                duration,
                timeStart: startDate.format('YYYY-MM-DD HH:mm:ss') 
            }
        },
        timeIsAfterRule(){
            const { timeStart, timeEnd } = this.formState;
            if(timeStart && timeEnd && timeEnd <= timeStart) return 'The starting time must be before the ending time.'
            return true;
        },
        close(){
            this.$emit('input', false);
        },
        submit(){
            if(!this.$refs.form.validate()) return;

            const {room_id, cmsIdFor, title, project, webcast, official, timeStart, duration, capacity, password, agendaUrl, remarks, reason} = this.getBookingFieldsFromFormState();
            console.log({'weekId': this.weekId, room_id: 1});
            const call = new AjaxCalls.BookingRequestsCall()
                .setWeekId(this.weekId)
                .setCmsRoomId(room_id)
                .setPreferredRoomId(room_id)
                .setCmsIdFor(cmsIdFor || this.$store.state.userInfo.cms_id)
                .setTitle(title)
                .setProject(project)
                .setStatus('pending')
                .setWebcast(webcast)
                .setOfficial(official)
                .setTimeStart(timeStart)
                .setDuration(duration)
                .setCapacity(capacity)
                .setPassword(password)
                .setAgendaUrl(agendaUrl)
                .setRemarks(remarks)
                .setReason(reason)
                .setSuccessCallback(res => {
                    this.$store.commit('infoMessage', `Booking ${this.isEdit ? 'Updated' : 'Created'}!`);
                    this.$emit(this.isEdit ? 'bookingupdated' : 'bookingcreated', res);
                    this.close();
                });

            if(this.isEdit) call.setId(this.booking.id).put();
            else call.post();            
        },
        loadProjects(){
            new AjaxCalls.BookingProjectsCall()
                .setSuccessCallback((res) => {
                    this.projects = res;
                })
                .get();
        }
    },
    mounted(){
        this.loadProjects();
    }
}
</script>

