<template>
    <span>
        <v-btn v-if="hrIdKey !== null" @click="generateIdList"><slot>Generate e-groups import file</slot></v-btn>
        <v-btn v-if="emailKey !== null" @click="generateEmailList"><slot>Export as a list of emails</slot></v-btn>
    </span>
</template>

<script>
    export default {
        name: 'EgroupExport',
        props: {
            // table data would usually take form of an array of objects describing each row...
            tableData: {type: Array, default: null},
            // so we need the property name where the HR ID values would reside
            hrIdKey: {type: String, default: 'hrId'},
            // this one can be fed directly into the component as the list of HR IDs to 
            hrIdsList: {type: Array, default: null},
            emailKey: {type: String, default: null},
        },
        methods: {
            generateIdList: function(){
                console.debug('Generating a CSV export for e-groups importing');
                
                var meanfulHrIdsPresent = false;
                var csvContent = "data:text/csv;charset=utf-8,";
                this.hrIds.forEach(e => {
                    meanfulHrIdsPresent = true;
                    csvContent += 'P,,,' + e + '\n';
                });
                if (meanfulHrIdsPresent === true){
                    const data = encodeURI(csvContent);
                    const link = document.createElement("a");
                    link.setAttribute("href", data);
                    link.setAttribute("download", "export.csv");
                    link.click();
                }
            },
            generateEmailList: function(){
                var csvContent = "data:text/csv;charset=utf-8,";
                var meanfulEmailsPresent = false;
                this.emails.forEach(e => {
                    meanfulEmailsPresent = true;
                    csvContent += e + '\n';
                });
                if (meanfulEmailsPresent === true){
                    const data = encodeURI(csvContent);
                    const link = document.createElement("a");
                    link.setAttribute("href", data);
                    link.setAttribute("download", "export-emails.csv");
                    link.click();
                }
            }
        },
        computed: {
            hrIds: function(){
                var answer = [];
                if (this.hrIdsList !== null && this.hrIdsList !== undefined){
                    return this.hrIdsList;
                }
                if (this.tableData !== null && this.tableData !== undefined){
                    this.tableData.forEach(element => {
                        answer.push(element[this.hrIdKey]);
                    });
                }
                return answer;
            },
            emails: function(){
                var answer = [];
                if (this.tableData !== null && this.tableData !== undefined){
                    this.tableData.forEach(element => {
                        answer.push(element[this.emailKey]);
                    });
                }
                return answer;
            }
        }
    }
</script>

