<template>
    <v-btn @click="generate" :style="styles"><slot>Export to Excel</slot></v-btn>
</template>

<script>

import XLSX from 'xlsx';

export default {
    name: 'ExcelExport',
    props: {
        tableHeaders: {type: Array, default: () => ['key', 'value']},
        tableData: {type: Array, default: () => [
            {id: 1, key: 'param A', value: 3.14},
            {id: 2, key: 'param B', value: 'test'},
            {id: 3, key: 'param D', value: 7},
        ]},
        title: {type: String, default: 'iCMS data export'},
        sortByKey: {type: String, default: null},
        sortDescending: {type: Boolean, default: false},
        styles: {type: String, default: null}
    },
    data: function(){
        return {};
    },
    computed: {
        sortedData: function(){
            if (this.sortByKey != null){
                console.debug('Sorting excel data by ' + this.sortByKey);
                return this.tableData.slice(0).sort((a, b) => {
                    var comparison = a[this.sortByKey] < b[this.sortByKey] ? -1 : (a[this.sortByKey] == b[this.sortByKey] ? 0 : 1);
                    return (this.sortDescending ? -1 : 1) * comparison;
                });
            }
            return this.tableData;
        }
    },
    methods: {
        generate: function(){
            console.debug('XLX file about to be generated');
            var workbook = XLSX.utils.book_new();

            workbook.Props = {
                Title: this.title,
                Subject: this.title,
                Author: this.title,
                CreatedDate: new Date()
            };
            workbook.SheetNames.push(this.title);
            var sheetData = [];
            sheetData.push(this.tableHeaders.map(e => e.text));
            this.sortedData.forEach(e => {
                var row = [];
                this.tableHeaders.forEach(h => {
                    row.push(e[h.value]);
                })
                sheetData.push(row);
            });
            var workSheet = XLSX.utils.aoa_to_sheet(sheetData);
            workbook.Sheets[this.title] = workSheet;
            XLSX.writeFile(workbook, 'out.xlsx');
            
        }
    }
}
</script>

<style>

</style>
