<template>
<edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on"></slot>
        </template>
        <template v-slot:header>{{headerMessage}}</template>
        <template v-slot:fields="{values}">
            <v-select :items="[new Date().getFullYear(), new Date().getFullYear() + 1]" v-model="year" label="Year"></v-select>
            <div v-if="year!=null">
                <person-picker ref="personPicker" label="CMS Member" v-model="cmsId" required></person-picker>
                <v-select :items="startingStatusValues" v-model="values.status" item-text='label' item-value='value' label="MO Status"></v-select>
                <v-select v-if="values.status == 'APPROVED_LATE'" :items="computedPoolFaNames" label="Funding Agency"></v-select>
                <v-select v-if="values.status == 'APPROVED_LATE'" :items="computedPoolMoInstCodes" label="MO Institute"></v-select>
            </div>
        </template>
    </edit-dialog>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue';
    import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue';

    export default {
        name: 'TenureEditor',
        components: {
            'person-picker': VuetifyPersonPicker,
            'edit-dialog': VuetifyEditDialog,
        },
        data: function(){
            return {
                cmsId: null,
                year: null,
                status: null,
                instCode: null,
                fundingAgency: null,
            };
        },
        props: {
            // todo: some value of something representing the edited entity
        },
        mounted: function(){
            
        },
        watch: {
            cmsId: function(){
                console.debug('CMS ID changed');
                Ajax.getMoSteps(this.cmsId, this.year, this.storeCurrentStepsData);
            }
        },
        computed: {
            headerMessage: function(){
                return 'MO Record Editor';
            }
        },
        methods: {
            storeCurrentStepsData: function(data){
                console.debug('Received MO data for CMS ID ' + this.cmsId);
                console.debug(data);
            },
            resetForm: function(){

            },
            submitData: function(){
                // todo: post the data
            },
            afterSavedRecord: function(data){
                // todo: some processing, anything
            },
            loadRecord: function(){
                // loads the existing data
            },
            resetForm: function(){
                // reinitialize the form to empty or restore the values stored for current unit
                if (this.something == null) {
                    this.cmsId=null;
                    this.year=null;
                    this.instCode=null;
                    this.fundingAgency=null;
                } else {
                    this.cmsId=null;
                    this.year=null;
                    this.instCode=null;
                    this.fundingAgency=null;
                }
            },
            show: function(){
                this.$refs.dialog.show()
            }
        }
    }
</script>