<template>
    <div style="position: relative;">
        <v-data-table 
            :items="filteredRows" 
            :headers="expandedHeaders"
            :options="options" 
            :loading="loading" 
            :search="search"
            :footer-props="{'items-per-page-options': rowsPerPageItems}"
            v-on="$listeners"
        >
            <template v-for="(index, name) in $scopedSlots" v-slot:[name]="data">
                <slot :name="name" v-bind="data"></slot>
            </template>

            <template slot="body.append">
                <tr>
                    <td class="px-1" v-for="header in headers" :key="header.value">
                        <v-text-field v-model="searchMap[header.value]" :label="header.text">
                            <template v-slot:append>
                                <v-icon v-if="searchMap[header.value]==''">search</v-icon>
                            </template>
                        </v-text-field>
                    </td>
                </tr>
            </template>

        </v-data-table>
        <div v-if="!hideExportButtons" class="export-button-row">
            <excel-export v-if="enableExcelExport" :tableData="filteredRows" :tableHeaders="expandedHeaders" styles="margin-right: 12px">Generate XLSX spreadsheet</excel-export>
            <egroup-export v-if="enableEgroupExport" :tableData="filteredRows" :hrIdKey="egroupExportHrIdKey" :emailKey="emailExportKey"></egroup-export>
        </div>
    </div>
</template>

<style>
    .export-button-row {
        position: absolute;
        bottom: 8px;
        left: 12px;
    }

    /* 
        Overide of a weird rule in vuetifys css rules
        Fixes the padding in data tables and doesn't seem to break anything else...
     */
    .v-application .v-data-table-header .px-1{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
</style>

<script>
    import ExcelExport from '../components/ExcelExport.vue'
    import EgroupExport from '../components/EgroupExport.vue'

    export default {
        name: 'VuetifyTable',
        components: {
            'excel-export': ExcelExport,
            'egroup-export': EgroupExport,
        },
        props: {
            headers: {type: Array},
            items: {type: Array},
            noAutoformat: {type: Boolean, default: false},
            rowsPerPageItems: {type: Array, default: function(){return [25, 100, 250, {text: 'All', value: -1}];}},
            options: {type: Object, default: () => null},
            loading: {type: Boolean, default: false},
            search: {type: String, default: ''},
            egroupExportHrIdKey: {type: String, default: 'hrId'},
            emailExportKey: {type: String, defafult: 'email'},
            isColumnEditable: {type: Function, default: () => false},
            hideExportButtons: {type: Boolean, default: () => false},
            enableExcelExport: {type: Boolean, default: () => true},
            enableEgroupExport: {type: Boolean, default: ()=> true}
        },
        data: function(){
            return {
                searchMap: {},
                customizedPagination: null,
            };
        },
        computed:{
            filteredRows: function(){
                var items = [];
                this.items.forEach(e => {
                    var match = true;
                    Object.keys(this.searchCriteria).forEach(key => {
                        match = match && this.doesMatch(this.searchCriteria[key], e[key]);
                    });
                    if (match){
                        items.push(e);
                    }
                });
                this.$emit('filtered', items);
                return items;
            },
            expandedHeaders: function(){
                var headers = [];
                this.headers.forEach(h => {
                    if (h.class === undefined){
                        h.class = 'px-1'
                    }
                    headers.push(h);
                });
                return headers;
            },
            searchCriteria: function(){
                var criteria = {};
                Object.keys(this.searchMap).forEach(key => {
                    if (this.searchMap[key].length > 0){
                        criteria[key] = this.searchMap[key];
                    }
                });
                return criteria;
            }
        },
        mounted: function(){
            this.initColumnSearch();
        },
        methods: {
            initColumnSearch: function(){
                this.headers.forEach(element => {
                    this.$set(this.searchMap, element.value, '');
                });
            },
            doesMatch(needle, haystack){
                return String(haystack).toLowerCase().indexOf(needle.toLowerCase()) > -1;
            },
            autoformat: function(cellValue){
                if (this.noAutoformat === true || cellValue === null || cellValue === undefined){
                    return cellValue;
                }
                else if (cellValue === +cellValue){
                    if (cellValue !== (cellValue|0)){
                        return cellValue.toFixed(2);
                    }
                }
                else if (typeof(cellValue) === 'string' && cellValue.length > 0){
                    if (cellValue.charAt(0) >= '0' && cellValue.charAt(0)<='9'){
                        // If it doesn't start with a digit, we give up parsing it as a date.
                        // Date.parse is nice to understand things like '02 February 2019' etc - but it also treats AACHEN-1 as a date!
                        var timestamp = Date.parse(cellValue);
                        if (!isNaN(timestamp)){
                            cellValue = new Date(timestamp).toLocaleString().replace('en-GB', {timeZone: 'UTC'});
                        }
                    }
                }
                return cellValue;
            },
            editClickListener: function(columnHeader, rowData){
                console.debug("Edit was just clicked on a cell under '" + columnHeader.text + "' header.");
                this.$emit("customEditorRequest", {'header': columnHeader, 'row': rowData});
            },
        },
    }
</script>