<template>
        <v-autocomplete v-model="model" :items="items" :label="label" :loading="isLoading" :item-text="'label'" :item-value="'cms_id'" :search-input.sync="search"
            @input="$emit('input', $event)" :no-filter='true' :placeholder="placeholder" :clearable='clearable'
            v-bind="$attrs" v-on="$listeners">
        </v-autocomplete>
</template>

<script>

import Ajax from '../utils/Ajax.js'

export default {
    name: 'VuetifyPersonPicker',
    
    props: {
        // pass it here for editing
        value: null,
        placeholder: {
            type: String,
            default: 'Please start typing a name, surname, CMS ID, login or any combination thereof'
        },
        clearable: {
            type: Boolean,
            default: false
        },
        label: { default: null }
    },

    data: function(){
        return {
            entries: [],
            isLoading: false,
            model: null,
            search: '',
            searchTerm: '',
            timeoutVar: null,
        }
    },

    computed: {
        items: function(){
            var data = [];
            for (var i in this.entries){
                    data.push({
                        label: this.labelFromData(this.entries[i]),
                        cms_id: this.valueFromData(this.entries[i])
                    });
            }
            return data;
        }
    },

    methods: {

        changeListener: function(event){
            console.debug("VuetifyPersonPicker: Change listener invoked.");
            console.debug("EVENT VALUE: " + event);
        },

        labelFromData: function(data){
            return data['first_name'] + ' ' + data['last_name'] + ' (' + data['inst_code'] + ', ' + data['cms_id'] + ')'
        },

        valueFromData: function(data){
            return data['cms_id'];
        },

        suppressQuery: function(searchTerm){
            // this is a prevention mechanism against user selection triggering another autocomplete search for the nicely formatted label
            // any attempt to use the events proved futile
            for (var i in this.entries){
                if (this.labelFromData(this.entries[i]) == searchTerm){
                    console.debug('Suppressing suggestions query for input: ' + searchTerm);
                    return true;
                }
            }
            return false;
        },

        fetchPersonDataForValue: function(cmsId){
            /*
                Used to display correct data when the CMS ID is set externally (e.g. editing some entries).
                Ideally, it should be automatically invoked by the component whenever a value is enforced.
            */
            console.debug("VuetifyPersonPicker: Fetching display info for received CMS ID " + cmsId);
            var component = this;
            Ajax.getUserInfo(cmsId, function(userData){
                /*
                    As long as the relevant fields are named identically between the relevant endpoints,
                    we can just push the data to entries and rely on the computed property to transform it
                    into a meaningful dropdown item
                */
                component.entries = [userData];
                component.model = cmsId;
            });
        }
    },
    watch:{
        search: function(term) {
            // suppress queries triggered by selection from drop-down (as ooposed to queries triggered by users typing something in)
            if (this.suppressQuery(term)) return;
            console.debug('Search callback in action');
            if (term == null || term.length == 0) {
                this.entries = [];
                return;
            };
            console.debug('VuetifyPersonPicker, autocomplete, term is: ' + term);
            if (this.timeoutVar != null){
                window.clearTimeout(this.timeoutVar);
            }
            var compo = this;
            this.timeoutVar = window.setTimeout(function(){
                if (compo.isLoading) return;
                compo.isLoading = true;

                console.debug("Will re-fetch the list of suggestions");
                compo.entries = [];
                Ajax.getPeopleSuggestions(term, function(data){
                    compo.entries = data;
                    compo.isLoading = false;
                    console.debug("VuetifyPersonPicker received " + compo.entries.length + " search suggestions.");
                });
            }, 433);
        },
        value: function(){
            if(this.value != null){
                this.fetchPersonDataForValue(this.value);
            } else {
                this.model = null;
                this.entries = [];
            }
            console.debug('PERSON PICKER: VALUE CHANGED TO ' + this.value);
        },
        model: function(){
            console.debug('PERSON PICKER: MODEL CHANGED TO ' + this.model);
        }
    }
}
</script>

<style>

</style>
