{% extends "_base_of_base.html" %}

{% block inner_content %}

<div class="bs-docs-header">
    <div class="container">
        <div style="text-align: center;">
            <h3>
                {% block header_text %} {% endblock %}
            </h3>
            <br>
            <div class="header-extra">
                <p> {% block header_extra %} {% endblock %} </p>
            </div>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div id="icms-explanation-container" style="display: none;">
        <button type="button" class="btn btn-default btn-lg" id="icms-explanation-toggle">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <span class="icms-button-label">Show explanation</span>
        </button>
    <div id="icms-explanation">
        {% block explanation %}
        {% endblock %}
    </div>
    </div>

    {% block top_container %}
    <div class="col-md-10" role="main">
        {% block page_content %} {% endblock %}
    </div>
    <div class="col-md-2" role="complementary">
        {% block page_complement %} {% endblock %}
    </div>
    {% endblock %}
</div>

{% block modal %}
<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <pre>
          <div class="modal-body" id="modalDialogBody">

          </div>
      </pre>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<div id="{{const.HTML_ID_MODAL_CONTAINER}}" style="visibility:hidden;"></div>

{% endblock %}
