{% extends "bootstrap/base.html" %}

{% set url_root = request.url_root | replace ('https://', '') | replace ('http://', '') %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/bootstrap-submenu.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/bootstrap-tokenfield.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/lib/tokenfield-typeahead.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{request.script_root}}/static/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="{{request.script_root}}/static/css/icms.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.14/vuetify.min.css" integrity="sha512-G1sKX0WXxx0MZDeQd+FTVnUZ6hUhI2a7QsmbEaRxreq3MMxK6JDwQsGq04C4sJB28d5cxMh/ke5BDA0ycAsGCA==" crossorigin="anonymous" />
    
    <style type="text/css">
        .warn{
            background-color: yellow;
        }
    </style>

    {% block page_styles %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        {% if is_prod() %}
            console._debug = console.debug;
            console._log = console.log;
            console.log = function (someText) {
            };
            console.debug = console.log;
        {% endif %}

        var $SCRIPT_ROOT = '{{request.script_root}}';
        var theFormDialog = null;
        var dialogsCount = 0

        var previousDialog = null;

        var defaultDialogLoader = function(){
            console.debug('The default dialog loader invoked. It will ensure its place at the bottom of the stack and exit.');
            if (dialogLoaders.length == 0 ) {
                dialogLoaders.push(defaultDialogLoader);
            }
        }

        var dataChangedDialogLoader = function(){
            /*
            This loader should be placed as dialogLoaders[0] in case the "bare" page needs reloading at the end.
            */
            console.debug('A standard "data changed" dialog loader invoked, presumably from the bottom of the stack. Page will be reloaded to reflect the changes.');
            location.reload();
        }

        var dialogLoaders = [defaultDialogLoader];

        function runDialogLoader(loader){
            /*
            Runs and stores this loader method. In scenarios where a chain of popups is invoked, this allows to reload
            the previous one (with all necessary updates).
             */
            var lastLoader = dialogLoaders[dialogLoaders.length - 1];
            if (typeof(lastLoader) == 'function' && lastLoader.toString() !== loader){
                console.debug('Current dialog\'s loader is different than the one on top of the stack. Pushing!');
                dialogLoaders.push(loader);
            } else {
                console.debug('Current dialog\'s loader already on top of the stack. Ignoring.');
            }
            loader();
        }

        function rerunDialogLoader(){
            if (dialogLoaders.length > 0){
                console.debug('rerunDialogLoader: invoking');
                dialogLoaders[dialogLoaders.length - 1]();
            }
        }

        function displayDialog(title, message){
            displayDialog(title, message, function(){}, function(){})
        }

        function displayDialog(title, message, onshown, onhidden){
            theFormDialog = BootstrapDialog.show(
                    {   title: title, message: message, draggable: true,
                        closeByBackdrop: false,
                        onhide: function(theDialog){
                            // A dialog goes away and with it its loader
                            dialogsCount -= 1;
                            dialogLoaders.pop();
                            console.debug('onhide: hiding a dialog ' + title + ', dialogs count goes to: ' + dialogsCount + ' and there are '+ dialogLoaders.length +' dialog loaders');
                            // Zero means we are back to "bare" page - something might need to be shown now
                            // console.debug('I can see ' + dialogsCount + ' dialogs and '+ dialogLoaders.length +' dialog loaders!');
                            if (dialogsCount === 0) {
                                setTimeout(function () {
                                    if (dialogsCount == 0){
                                        rerunDialogLoader();
                                    }
                                }, 700)
                            }
                        },
                        onshow: function(theDialog){
                            dialogsCount +=1;
                            console.debug('onshow: showing a dialog' + title + ', dialogs count goes to: ' + dialogsCount + ' and there are '+ dialogLoaders.length +' dialog loaders');
                            if (typeof(previousDialog) === 'object' && previousDialog !== null && dialogsCount > 1) {
                                console.debug('onshow: forcing previous dialog to close, pushing an extra copy of its loader to the stack (old one will be popped in onhide)');
                                dialogLoaders.push(dialogLoaders[dialogLoaders.length - 1]);
                                previousDialog.close();
                            }
                            previousDialog = theDialog;
                        },
                        onshown: onshown,
                        onhidden: onhidden
                    });
            window.setTimeout(function(){
                console.debug('HACKTRACE: draw()ing on datatables to fix them showing up scrambled.');
                dataTables.forEach(e => e.draw());
            }, 500);
        }

        function {{const.JS_FN_NAME_MODAL_LOADER}}(title, src) {
            var loader = function(){
                var holder = $('<div></div>');
                holder.load(src, complete=function(){
                    var title_elem = $('.hidden-title', holder);
                    if (title_elem.length == 1){
                        title = title_elem.text();
                    }
                    onLoadHandler(holder);
                    displayDialog(title, holder);
                });
            }
            runDialogLoader(loader);
        }

        function {{const.JS_FN_NAME_REVEAL_HIDDEN}}(title, elid){
            var loader = function(){
                content = $('#'+elid);
                parent = content.parent();
                displayDialog(title, content);
            }
            runDialogLoader(loader);
        }
    </script>

    <script type="text/javascript" src="{{request.script_root}}/static/js/icms-forms.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/js/icms.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/js/lib/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/js/lib/bootstrap-submenu.min.js"></script>
    <script type="text/javascript" src="{{request.script_root}}/static/js/lib/bootstrap-tokenfield.min.js"></script>
    {% if is_dev() %}
    <script type="text/javascript" src="{{request.script_root}}/static/vue/dist/build.js"></script>
    {% else %}
    <script type="text/javascript" src="{{request.script_root}}/static/js/npm-build.js"></script>
    {% endif %}


    <script type="text/javascript">
    function findAndInitCmsMemberSearchFields(parentEl){
        $(".{{const.HTML_CLASS_CMS_MEMBER_SEARCH}}", parentEl).each(
            cmsMemberSearchFieldInitProcedure
        );
        $(".{{const.HTML_CLASS_CMS_INST_SEARCH}}", parentEl).each(
            cmsMemberSearchFieldInitProcedure
        );
    }

    var submitLabels={}

    function toggleNeighborSubmit(element, enable){
        var form = $(element).closest('form');
        var submit = $('input:submit', form);
        if(enable){
            submit.removeAttr('disabled');
            if (submitLabels.hasOwnProperty(submit.attr('id'))) {
                submit.val(submitLabels[submit.attr('id')]);
            } else {
                submit.val('OK');
            }
        } else {
            submit.attr('disabled', 'disabled');
            if (!submitLabels.hasOwnProperty(submit.attr('id'))) {
                submitLabels[submit.attr('id')] = submit.val();
            }
            submit.val('Fetching suggestions...');
        }
    }

    function cmsMemberSearchFieldInitProcedure(){
        var source = null;
        if (this.hasAttribute('{{const.HTML_KEY_AUTOCOMPLETE_ENDPOINT}}')){
            source = $(this).attr('{{const.HTML_KEY_AUTOCOMPLETE_ENDPOINT}}');
        } else if (this.hasAttribute('{{const.HTML_KEY_AUTOCOMPLETE_CALLBACK}}')){
            source = eval($(this).attr('{{const.HTML_KEY_AUTOCOMPLETE_CALLBACK}}'));
        }
        $(this).on('input', function(event){
            // disable associated submit/form while input is being received.
            toggleNeighborSubmit(event.target, $(event.target).val().trim().length == 0);
        });
        $(this).autocomplete({
            source: source,
            delay: 500,
            minLength: 3,
            response: function(event, ui){},
            search: function(event, ui){},
            select: function(event, ui){
                // watch out: this is a different member field cause the currentTarget points at menu entry, not the input
                toggleNeighborSubmit(event.target, true);
            }
        });
    }

    function findAndInitCmsMultiMemberSearchFields(parentEl){
        $('.{{const.HTML_CLASS_CMS_MULTI_MEMBER_SEARCH}}', parentEl).each(function() {
            $(this).tokenfield({
                autocomplete: {
                    source: $(this).attr('{{const.HTML_KEY_AUTOCOMPLETE_ENDPOINT}}'),
                    delay: 500,
                },
                delimiter: $(this).attr('{{const.HTML_KEY_DELIMITER}}'),
                showAutocompleteOnFocus: false
            });
        });
        // IMPORTANT: tokenfield + jquery autocomplete have an annoying bug that results in selection being added
        // twice when it's confirmed with a return key. Workaround below prevents duplicates.
        $('.{{const.HTML_CLASS_CMS_MULTI_MEMBER_SEARCH}}', parentEl).on('tokenfield:createtoken', function(e, ui){
                return e.target.value.indexOf(e.attrs.value) == -1;
        });
    }

    var dataTables = [];
    // keeping the one below to be backwards-compatible. would be a good idea though to ensure it's gone and remove it
    var theTable;

    function findAndInitDataTables(parentEl){
        $('.genericDataTable', parentEl).each(function(rn, elem){
            theTable = $(elem).DataTable({
                orderCellsTop: true,
                // adding scrollX scrambles some tables horizontally
                scrollX: false,
                scrollY: 0.5*window.innerHeight,
                "scrollCollapse": true,
                "paging": false,
                fixedHeader: {header: true},
                stateSave: true,
                dom: 'Bfrtipl',
                buttons: [{extend: 'pdf', orientation: 'landscape'}, 'excel', 'csv', 'copy', 'colvis'],
                iDisplayLength: 20,
                aLengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                columnDefs: [{targets: 'hidden', visible: false}]
            });
            // Apply the search
            theTable.columns().every( function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search( this.value ).draw();
                    }
                });
            });
            dataTables.push(theTable);
        });


        var lightTable = $('.{{const.DATA_TABLE_CLASS_LIGHT}}', parentEl).DataTable({
            // here the X scrolling really does scramble the table horribly
            scrollX: 'auto',
            dom: 'tpr',
            iDisplayLength: 20
        });
    }

    function findAndInitDateFields(parentEl){
        $('[type="date"]', parentEl).each(function(){
                if ($(this).prop('type')!='date'){
                    $(this).datepicker({dateFormat: 'yy-mm-dd'});
                }
        });
    }

    function findAndInitHelp(parentEl){
        var explanationContainer = $('#icms-explanation-container', parentEl);
        var explanation = $('#icms-explanation', parentEl);
        if (explanation.text().trim().length > 0){
            explanation.hide();
            var toggle = $('#icms-explanation-toggle', parentEl)
            var toggleLabel = $('.icms-button-label', toggle)
            toggle.click(function(){
                explanation.toggle();
                toggleLabel.text(explanation.is(':visible') ? 'Hide explanation' : 'Show explanation');
            });
            explanationContainer.show();
        }
    }

    function findAndInitYearTogglers(parentEl){
        toggler = $('select#year_toggler');
        toggler.on('change', function(){window.location = '{{root_url}}?year=' + this.value;})
    }

    </script>

    <script type="text/javascript">
        function onLoadHandler(parentEl){
            findAndInitDataTables(parentEl);
            findAndInitCmsMemberSearchFields(parentEl);
            findAndInitDateFields(parentEl);
            // init the submenu buttons
            findAndInitCmsMultiMemberSearchFields(parentEl);
            findAndInitHelp(parentEl);
            findAndInitYearTogglers(parentEl);
        }

        $(document).ready(function(){

            // Requires jQuery!
            jQuery.ajax({
                url: "https://its.cern.ch/jira/s/32b7cc9fc9e5ae832380d32ba40f253f-T/-ed8qqe/710003/1d55dbd34e10bce6df51d8250ee754f7/2.0.30/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-US&collectorId=ba0fe8ed",
                type: "get",
                cache: true,
                dataType: "script"
            });

            window.ATL_JQ_PAGE_PROPS =  {
            "triggerFunction": function(showCollectorDialog) {
                //Requires that jQuery is available!
                jQuery("#reportIssue").click(function(e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }};



            var parentEl = $('body')
            onLoadHandler(parentEl);
            $('[data-submenu]').submenupicker();
            $( document ).ajaxError(function( event, jqxhr, settings, thrownError ) {
                console.debug(settings);
                console.debug(thrownError);
                console.debug('event: ' + event);
                console.debug(jqxhr);
                if (typeof(jqxhr.responseText) !== 'undefined') {
                    alert('ERROR: ' + jqxhr.responseText);
                }
            });
        });

    </script>

    {% block page_scripts %}
    {% endblock %}

{% endblock %}


{% block title %} iCMS toolkit {% endblock %}

{% block navbar %}

<div class="navbar navbar-default navbar-static-top" role="navigation" style="position: absolute; top: 0px; width: 100%;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{request.script_root or '/'}}">{{const.MENU_TOP_HOME}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for e in top_menus %}{{ macros.render_menu_element(e, is_top=True) }}{% endfor %}
            </ul>
        </div>
    </div>
</div>
{% if session[const.SESSION_KEY_REAL_CMS_ID] %}
    <div id="impersonateWarning">
        Impersonation mode ACTIVE. Your real CMS id is {{session[const.SESSION_KEY_REAL_CMS_ID]}}.
    </div>
{% endif %}
{% endblock %}

{% block content %}
    {{ super() }}

    {% block flashes %}
    <div id="flashesBox" style="position: absolute; top: 100px; width: 100%; z-index: 1000; margin: 20px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if 'Please log in to access this page.' not in message %}
                <div class="alert alert-{{ category }}" id="flashBox" style="margin-left:auto;margin-right:auto;width:80%;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    {% endblock %}

    {% block inner_content %}
        <div class="col-md-12" role="main" style="width: 100%;">
            <div id="vueApp"></div>
        </div>
    {% endblock %}


    <div class="col-md-12">
    <footer>
        <hr />
        <div align="left" class="footer-left">
            Contact information: <a href="mailto:icms-support@cern.ch">icms-support@cern.ch</a>.
        </div>
        {% if (navInfo and navInfo.gitInfo) %}
        <div align="centre" >{{ navInfo.gitInfo }}</div>
        {% endif %}
        <div align="right" class="footer-right">
            <button id="reportIssue" name="reportIssue">Report an issue</button>
        </div>
    </footer>

    {% if not is_prod() %}
        <div class="sticker" onclick="$(this).hide()">
        <h3>Warning!</h3>
        This is not a production instance. All database changes will be lost at some point.
        </div>
    {% endif %}

    </div>

{% endblock %}