{% macro render_element(element) -%}
    {% if element.to_html %}
        {{ element.to_html() | safe }}
    {% elif element.__class__ and element.__class__.__name__ == 'Table' %}
        {{ render_table(element) }}
    {% elif element.__class__ and 'Form' in element.__class__.__bases__ %}
        {{ render_form_quick(element) }}
    {% elif element is mapping %}
        {% if element.keys() | length < 2 %}
            {{ render_dict_h(element) }}
        {% else %}
            {{ render_dict_v(element) }}
        {% endif %}
    {% else %}
        {{ element }}
    {% endif %}
{%- endmacro %}

{% macro render_form(form, fields) -%}

<form class="form-horizontal" role="form" method="post">
            {{form.hidden_tag()}}

            {# {{wtf.form_errors(form, hiddens="only")}} #}

            {% for x in fields %}
                {% set field = form[x[0]] %}

                {% set validated = form.errors and 'submit' not in field.type.lower() %}
                {% set ok = validated and not field.errors %}

                <div class="form-group {%if validated %} has-feedback {% if not ok %} has-error {% else %} has-success {% endif %} {% endif %}">
                    {{field.label(for="in_"+x[0], class="col-sm-2 control-label")}}
                    <div class="col-sm-10">
                        <div class="controls">
                            {{ (field)(class_="form-control "+field.type, id="in_"+x[0], placeholder=x[2], type=x[1]) }}
                            {% if validated and not ok %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% for error in field.errors %}
                                <span class="help-block">{{error}}</span>
                                {% endfor %}
                            {% elif validated %}
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>

{%- endmacro %}

{% macro render_row_action(action, show_text=True) -%}
    {% if action.target=='modal' %}
        <a href="#" data-toggle="tooltip" title="{{ action.name }}" onclick="$.ajax({url: '{{action.endpoint}}',
                                                success: function(data){
                                                    $('#{{const.HTML_ID_MODAL_CONTAINER}}').html(data);
                                                }})">
    {% else %}
        <a href="{{action.endpoint}}" data-toggle="tooltip" title="{{action.name}}">
    {% endif %}
    {% if action.name == 'edit' %}
        <span class="glyphicon glyphicon-edit">
    {% elif action.name == 'delete' or action.name=='remove' %}
        <span class="glyphicon glyphicon-remove">
    {% elif action.name == 'new' or action.name=='add' or action.name=='create' %}
        <span class="glyphicon glyphicon-file">
    {% endif %}
    {% if show_text %}
    {{action.text_label}}
    {% endif %}
    </span></a>

{%- endmacro %}

{# ------------------------------------------------------------------------------------------------------ #}

{% macro render_form_quick(form, width=12, id="theForm", action="") -%}

<form class="form-horizontal" role="form" method="post" id="{{ id }}" action="{{ action }}">

            {# {{wtf.form_errors(form, hiddens="only")}} #}

            {% for field in form %}
                {% set validated = form.errors and 'submit' not in field.type.lower() %}
                {% set ok = validated and not field.errors %}

                {% if field.flags.hidden or 'submit' in field.type.lower() %}
                    {{ field(class_="form-control " + field.type.lower()) }}
                {% else %}

                    {% if field.type=='RadioField' %}
                        {% for subfield in field %}
                            <div class="col-sm-9 controls">
                            {{ subfield }}
                            {{ subfield.label }}
                            </div>
                        {% endfor %}
                        {% else %}

                <div class="form-group {%if validated %} has-feedback {% if not ok %} has-error {% else %} has-success {% endif %} {% endif %}">
                    {{field.label(for=field.id, class="col-sm-3 control-label")}}
                    <div class="col-sm-9">
                        <div class="controls">
                            {{ field(class_ = "form-control " + field.type.lower(), value=field.data or '') }}
                            {% if validated and not ok %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {% for error in field.errors %}
                                <span class="help-block">{{error}}</span>
                                {% endfor %}
                            {% elif validated %}
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </form>

{%- endmacro %}

{# ------------------------------------------------------------------------------------------------------ #}

{% macro render_table(table_data, class="genericDataTable") -%}
            {% if table_data.form_action %}
            <form action="{{table_data.form_action}}" method="POST">
            {% endif %}
    <table class="{{table_data.html_class or class}} display" style="width: 100%;">
        <thead>
            <tr>
                {% for col in table_data.keys %}
                <th>{{demystify(col)}}</th>
                {% endfor%}
                {% if table_data.actions %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row, tip, url, actions, styles in table_data.row_sets() %}
            <tr>
                {% for col in table_data.keys %}
                    {% set col_class = table_data.get_col_class(col) %}
                    {% if url %}
                        {% if url is string %}
                            <td>{{ render_url(url, row[col])}}</td>
                        {% else %}
                            {% if url[col] %}
                            <td>
                                {{ render_url(url[col], row[col]) }}
                            </td>
                            {% else %}
                            <td>{{output_cell_value(row[col])}}</td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td
                            {% if styles[col] %}
                                class="hl">
                                <span class="cell-hl cell-hl-{{styles[col]}}">
                            {% else %}
                                    >
                            {% endif %}
                        {{output_cell_value(row[col])}}
                            {% if styles[col] %}
                                </span>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                {% if table_data.actions %}
                <td align="center">
                    {% if actions %}

                        {% set info_header = actions.ROW_HEADER_INFO if 'ROW_HEADER_INFO' in actions else 'Additional information' %}
                        {% set edit_header = actions.ROW_HEADER_EDIT if 'ROW_HEADER_EDIT' in actions else 'Edit entry' %}
                        {% set delete_header = actions.ROW_HEADER_DELETE if 'ROW_HEADER_DELETE' in actions else 'Remove entry' %}

                        {% if 'ROW_ACTION_INFO' in actions %}
                        <a href="{{actions.ROW_ACTION_INFO}}" data-toggle="tooltip" title="{{ info_header }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                        {% endif %}
                        {% if 'ROW_ACTION_EDIT' in actions %}
                        <a href="#" data-toggle="tooltip" title="{{ edit_header }}" onclick="$.ajax({url: '{{actions.ROW_ACTION_EDIT}}',
                            success: function(data){
                                $('#{{const.HTML_ID_MODAL_CONTAINER}}').html(data);
                            }})"><span class="glyphicon glyphicon-edit"></span></a>
                        {% endif %}
                        {% if 'ROW_ACTION_DELETE' in actions %}
                        <a href="#" data-toggle="tooltip" title="{{ remove_header }}" onclick="
                        BootstrapDialog.confirm({
                            'title': 'Confirmation',
                            'message': 'Please confirm you want to delete the following entry: \n {% for col in table_data.keys %} {{col}}: {{row[col]}} \n {% endfor %}',
                            'callback': function(result){ if(result) window.location='{{actions.ROW_ACTION_DELETE}}';}
                            });"><span class="glyphicon glyphicon-remove-sign"></span></a>
                        {% endif %}
                        {% if 'ROW_ACTION_EMAIL' in actions %}
                        <a href="{{actions.ROW_ACTION_EMAIL}}"><span class="glyphicon glyphicon-envelope"></span></a>
                        {% endif %}
                        {% if 'ROW_ACTION_EMAIL_REMINDER' in actions %}
                        <a href="{{actions.ROW_ACTION_EMAIL_REMINDER}}"><span class="glyphicon glyphicon-envelope" style="color: red;"></span></a>
                        {% endif %}
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% if class == 'genericDataTable' %}
        <tfoot>
            <tr>
                {% for col in table_data.keys %}
		        <th style="padding: 1px;"><input type="text" style="width: 100%;" placeholder="Search '{{demystify(col)}}'" /></th>
                {% endfor %}
                {% if table_data.actions %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </tfoot>
        {% endif %}
    </table>
                {% if table_data.form_action %}
                <button type="submit" class="btn btn-success" style="float: right; margin: 20px;">Save changes</button>
                </form>
                {% endif %}
{%- endmacro %}

{% macro render_url(url, title='') -%}
    {% if url.startswith('/') and '/api' in url %}
        <a href="#" onClick="fillAndShowModal('{{ title }}', '{{ url }}');">{{ title }}</a>
    {% else %}
        <a href="{{ url }}">{{ title }}</a>
    {% endif %}
{%- endmacro %}


{# ------------------------------------------------------------------------------------------------------ #}


{% macro output_cell_value(value, details_title='Details') -%}
   {% if value == False and not value is number %}
            {{'NO'}}
   {% elif value == True and not value is number %}
            {{'YES'}}
   {% elif value == None %}
            {{'---'}}
   {% else %}
            {% if value.to_html %}
                {{value.to_html() | safe}}
            {% elif value is mapping %}
                {{render_dict_h(value)}}
            {% elif value is string %}
                {% if value | length > 255 %}
                <pre>{{value}}</pre>
                {% else %}
                {{value}}
                {%endif%}
            {% elif value is iterable and value is not string %}
                <a href="#" onclick="BootstrapDialog.show({
                title: '{{details_title}}',
                message: $('<div><ul>' +
                {% for item in value -%}{%if item%} '<li>{{item | escape | trim}}</li>' + {%endif%}{%- endfor %}
                '</ul></div>')
                });">{{ value | length }} items</a>
            {% elif value.__class__.__name__  == 'float' %}
                {{'%.2f' % value}}
            {% elif value.href and value.label %}
                <a href="{{value.href}}">{{value.label}}</a>
            {% elif value is none %}
                {{ '---' }}
            {% elif value.__class__ and value.__class__.__name__ == 'bool' %}
                {%if value%}{{'YES'}}{%else%}{{'NO'}}{%endif%}
            {% else %}
                {{value}}
            {% endif %}
    {% endif %}
{%- endmacro %}

{% macro output_dict_key(key, no_filter=True) -%}
    {%if key.to_html %}
            {{ key.to_html() | safe }}
    {% else %}
            {%if no_filter%}
                {{key}}
            {% else %}
                {{key | title}}
            {% endif %}
    {% endif %}
{%- endmacro %}


{% macro render_dict_h(data) -%}

<div class="table">
    <div class="row">
        {% for key in data.keys() %}
        <div class="cell header" style="width: {{100 / data | length}}%;">{%if key.__class__ in ('Link', 'Radio') %} {{key.render()}} {% else %} {{key | title}} {% endif %}</div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key in data.keys() %}
        <div class="cell" style="width: {{100 / data | length}}%;">{{output_cell_value(data[key])}}</div>
        {% endfor %}
    </div>
</div>
{%- endmacro %}


{# ------------------------------------------------------------------------------------------------------ #}

{% macro render_dict_v(data, no_filter=True) -%}
<div class="table">
    {% set keys = data.keys() %}
    {% if data.__class__.__name__ != 'OrderedDict' %}
        {% set keys = keys | sort %}
    {% endif %}
    {% for key in keys %}
    <div class="row {%if loop.index % 2 %} odd {% else %} even {% endif %}" style="vertical-align: middle;">
        <div class="cell header" style="width: 40%; text-align: right;">{{ output_dict_key(key, no_filter) }}</div>
        <div class="cell" style="width: 60%; vertical-align: middle;">{{ output_cell_value(data[key]) }}</div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}


{% macro render_menu_element(element, is_top=False) -%}
    {% if element() %}
        {% if not element.children %}
        <li><a href="{{element.endpoint()}}" tabindex="-1">{{element.label()}}</a></li>
        {% elif is_top %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-submenu>
                    {{element.label()}} <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu">
                        {% for child in element.children %}
                        {{ render_menu_element(child) }}
                        {% endfor %}
                    </ul>
            </li>
        {% else %}
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">{{element.label()}}</a>
                    <ul class="dropdown-menu">
                        {% for child in element.children %}
                            {{render_menu_element(child)}}
                        {% endfor %}
                    </ul>
            </li>
            {% endif %}
        {% endif %}
{%- endmacro %}

