{%  import "_macros.html" as macros %}

{% set action = [] %}

{% block content %}

{% if form %}
    {# action endpoint is the same route that displayed the dialog in the first place #}
    {% set args = {} %}
    {% set args = args.update(request.view_args) or args %}
    {% set args = args.update(request.args) or args %}
    {{ action.append(url_for(request.endpoint, **args)) }}

    <div style="visibility: hidden" id="hiddenFormHost">
        <div id="theDialogFormPlaceHolder">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" id="flashBox">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {{  macros.render_form_quick(form, id="theDialogForm", action=action[0]) }}
        </div>
    </div>
{% endif %}

{% endblock %}

{% block scripts %}

{% if form %}

    <script type="text/javascript">

    var theFormDialog;

    var customOnShowDialog = function(){};
    var customOnShownDialog = function(){};

    function setupSubmit() {
        var theForm = $('#theDialogForm');
        theForm.submit(function (event) {
            event.preventDefault();
            // dialog needs to close when submit is pressed - it will be redisplayed should the validation fail
            var data = theForm.serialize();
            var response = $.ajax({
                type: "POST",
                url: "{{ action[0] }}",
                data: data,
                success: function () {
                    theFormDialog.close();
                    $('#hiddenFormHost').parent().html(data).html(response.responseText);
                },
                dataType: 'html'
            });
        });
    }


    function showDialogForm(){
        var formHolder = $('#theDialogFormPlaceHolder');
        findAndInitCmsMemberSearchFields(formHolder);
        findAndInitCmsMultiMemberSearchFields(formHolder);
        // setup the submit before moving the form around
        setupSubmit();
        // prepare dialog's content and add the form there
        var content = $('<div></div>');
        formHolder.appendTo(content);
        displayDialog("{% if 'header' in request.args %} {{ request.args['header'] }} {% else %} Details {% endif %}", content,
                customOnShownDialog, function(){})
    }
    $(document).ready(function(){
        // adding the loader to accurately keep track of the dialogs we have running
        runDialogLoader(showDialogForm);
        theFormDialog = previousDialog;
    });

    </script>

{%  else %}

    <script type="text/javascript">
        $(document).ready(function(){
            {% if go_to %}
            window.location = '{{go_to}}';
            {% elif data_changed %}
            dialogLoaders[0] = dataChangedDialogLoader;
            rerunDialogLoader();
            {% else %}
            location.reload();
            {% endif %}
        });
    </script>

{%  endif %}

{% endblock %}