{% extends "_base.html" %}

{% block top_container %}
    You're almost there. Please navigate to one of the following:
    <ul>
    {% for direction, href in directions %}
        <li><a href="{{ href }}">{{ direction }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}