{# This is a generic template that can be used as is or extended to provide more specifically tailored finishing #}
{# Parameters: #}
{# title: #}
{# forms: #}
{# data_maps: #}
{# table_data: can be: 1) a single table, 2) a list of tables, 3) a map of tables #}
{# hidden_data:  #}
{# action_links: a list of link-type objects #}

{% extends "_base.html" %}

{% if not title %}
{% set title='Generic Page Title' %}
{% endif %}

{% block page_styles %}

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $(document).ready(
            $( function() {
                $( "#tabs" ).tabs();
            })
        );
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{# If there's nothing to share the main area with, take it all #}
{% block explanation %}
{% endblock %}
{% block top_container %}
{% if action_links %} <div class="col-md-10" role="main"> {% else %} <div class="col-md-12" role="main"> {% endif %}
    {% block forms %}
    {% if forms %}
    <div class="wall" style="column-count: 1;">
    {% for form in forms %}
        <div class="brick padded">
        <!-- check if we have a list of forms or a map (that would give us titles) -->
        {{ macros.render_form_quick(form) }}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    {% block tables %}
    {% if table_data is mapping %}
        {# Render the tables with keys, each in a separate tab #}
        <div id="tabs">
            <ul style="margin-bottom: 10px;">
                {% for title in table_data.keys() %}
                    <li><a href="#tab_{{title | urlencode}}">{{title}}</a></li>
                {% endfor %}
            </ul>
        {% for title, data in table_data.items() %}
            <div id="tab_{{title | urlencode}}">
            {{ macros.render_table(data) }}
            </div>
        {% endfor %}
        </div>
    {% elif table_data is iterable %}
        {# Render a collection of tables, one after another #}
        {% for td in table_data %}
            <!-- check if we have a list of tables (render on one page) or a map (render as tabs) -->
            {{macros.render_table(td)}}
        {% endfor %}
    {% elif table_data %}
        {# Render a single table #}
        {{macros.render_table(table_data)}}
    {% endif %}
    {% endblock %}

    {% block maps %}
    {% if data_maps %}
    <div class="wall">
    {% for key, map in data_maps.items() %}
        {% set title = key is sequence and key[0] or key %}
        {% set id = key is sequence and key[1] or None %}
        <div class="brick padded" {% if id %} id="{{id}}" {% endif %}>
            <h4>{{title}}</h4>
            {% if map %}
                {{ macros.render_dict_v(map) }}
            {% else %}
                No data to display
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    {% block hidden_data %}
    {% if hidden_data %}
    <div style="visibility: hidden; display: none;">
        <h3>Hidden stuff goes here!</h3>
    {% for key, data in hidden_data.items() %}
        <div id="{{key}}">
        {{macros.render_element(data)}}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
</div>

{% block action_links %}
{% if action_links %}
    <div class="col-md-2" role="complementary" style="text-align: left;">
        {% for link in action_links %}
        <div style="margin-top: 10px;">
        {{ link.to_html(extra_classes=['btn', 'btn-info']) | safe }}
        <div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
{% endblock %}
