{%  extends "_base.html" %}

{% set title="Check timelines" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block top_container %}
    <div class="wall">
        {% for title, data in model.get_data().items() %}
        <div class="brick">
            <h4>{{title}}</h4>
            {% if data %}
                {{ macros.render_dict_v(data, no_filter=True) }}
                {{ data | length }} entries.
            {% else %}
                Nothing!
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}