{% import "_macros.html" as macros %}

<div class="brick huge padded">
<table>
    {{macros.render_dict_v(email_data)}}
</table>
</div>

{% if logs_data %}
<div class="brick huge padded">

    {% for e in logs_data %}
        {{macros.render_dict_h(e)}}
    {% endfor %}

</div>
    {% endif %}
