<template>
    <div>
        <page>
            <template v-slot:toolbar-middle>
                <v-toolbar-title>My Notes</v-toolbar-title>
            </template>
            <template v-slot:toolbar-left>
                
            </template>
            <template v-slot:toolbar-right>
                
            </template>
            <template v-slot:header>
                
            </template>
            <template v-slot:body>
                <data-table :headers="tableHeaders" :items="tableRows" :enableEgroupExport="false" :rowsPerPageItems="[-1]">
                    <!-- <template v-slot:item.actions="{ item }">
                        <v-btn @click="showFiles(item.id)" color="primary" dark><v-icon>mdi-file-cabinet</v-icon></v-btn>
                    </template> -->
                </data-table>
            </template>
            <template v-slot:actions></template>
        </page>
        <!-- <confirm-dialog v-model="dialogs.files" ref="dialogFiles" @cancelled="dialogs.files=false;" @confirmed="dialogs.files=false;"> 
            <template v-slot:title>Files for {{dialogs.filesFor}}</template>
            <template v-slot:message>
                <a v-for="f in files" :href="f._links.download.href" v-bind:key="f.file">{{f.file}}</a><br/>
            </template>
        </confirm-dialog> -->
    </div>
</template>

<script>
import AjaxCalls from '../../utils/AjaxCalls.js';
import VuetifyPage from '../../components/VuetifyPage.vue'
import VuetifyTable from '../../components/VuetifyTable.vue'
import VuetifyPersonPicker from '../../components/VuetifyPersonPicker.vue'
import VuetifyEditDialog from '../../components/VuetifyEditDialog.vue'
import VuetifyConfirmDialog from '../../components/VuetifyConfirmDialog.vue'
import InstProfileLink from '../../components/links/InstProfileLink.vue'
import UserProfileLink from '../../components/links/UserProfileLink.vue'
import Hateoas from '../../utils/Hateoas.js'
import HateoasEditor from '../../components/HateoasEditor.vue'

export default {
    name: 'MyNotes', 
    components: {
        'person-picker': VuetifyPersonPicker,
        'page': VuetifyPage,
        'data-table': VuetifyTable,
        'edit-dialog': VuetifyEditDialog,
        'confirm-dialog': VuetifyConfirmDialog,
        'inst-link': InstProfileLink,
        'user-link': UserProfileLink,
        'hateoas-editor': HateoasEditor,
    },
    data: ()=>({
        tableHeaders: [
            {text: 'CMSNoteId', value: 'id'},
            {text: 'ApprovalId', value: 'processNumber'},
            {text: 'Submitter', value: 'submitterCmsId'},
            {text: 'Type', value: 'type'},
            {text: 'Title', value: 'title'},
            {text: 'Submitted on', value: 'submissionTimestamp'}

        ],
        notesData: {},
        toggles: {
            fetchNotes: false,
            fetchStubs: true,
        }
    }),
    computed: {
        myCmsId: function(){return this.$store.getters.userCmsId;},
        tableRows: function(){return Object.values(this.notesData).map(e => {
            e.submissionTimestamp = new Date(e.submissionTimestamp).toLocaleString();
            return e;
        });}
    },
    methods: {
        requestEntries: function(){
            if ([null, undefined].indexOf(this.myCmsId) > -1){
                console.debug("No CMS ID yet...");
                return;
            }
            console.debug("Good, can fetch for CMS ID: " + this.myCmsId);
            var call = new AjaxCalls.LegacyNotesCall().setCmsId(this.myCmsId).setSuccessCallback(this.receiveNotesData);
            if (this.toggles.fetchNotes != this.toggles.fetchStubs){
                call = this.toggles.fetchStubs ? call.stubs() : call.notes();
            }
            call.get()
        },
        receiveNotesData: function(response){
            var processor = new Hateoas.ResponseProcessor(response);
            var compo = this;
            processor.setEntityCollectionHandler((label, arr)=>{
                arr.forEach(row => {
                    compo.$set(compo.notesData, row.id || row.processNumber, row);
                });
            });
            processor.process();
        }
    },
    watch: {
        myCmsId: function(newVal, oldOne){
            this.$nextTick(this.requestEntries);
        }
    },
    mounted: function(){
        this.requestEntries();
    }
    
}
</script>

<style>

</style>