<template>
    <div>
        <page>
            <template v-slot:toolbar-middle>
                <v-toolbar-title>Pending CMS Notes (Workflows)</v-toolbar-title>
            </template>
            <template v-slot:header>
                <v-switch
                    v-model="filters.actionable"
                    label="Hide items that cannot be acted upon"
                ></v-switch>
            </template>
            <template v-slot:body>
                <data-table
                    :items="tableRows"
                    :headers="tableHeaders"
                    :enableEgroupExport="false"
                >
                    <template v-slot:item.actions="{ item }">
                        <v-item-group>
                            <v-btn
                                @click="
                                    showStubDetails(item.processNumber)
                                "
                                color="primary"
                            >
                                <v-icon>mdi-information-outline</v-icon>
                            </v-btn>
                            <v-btn
                                v-if="
                                    (states[item.processNumber] || {})
                                        ._templates !== undefined
                                "
                                @click="
                                    showStubActions(item.processNumber)
                                "
                            >
                                <v-icon>mdi-cogs</v-icon>
                            </v-btn>
                        </v-item-group>
                    </template>
                </data-table>
            </template>
        </page>
        <note-details
            @input="dialogOpenClose"
            v-model="dialogs.stubDetails"
            :note="entries[selected.processNumber]"
            :peopleLookup="cmsIdResolver"
        ></note-details>
        <stub-actions v-model="dialogs.stubActions" @input="dialogOpenClose" :note="entries[selected.processNumber]"
        :noteState="states[selected.processNumber]" @stubState="updateStubState">
        </stub-actions>
    </div>
</template>

<script>
import {
    LegacyNotesCall,
    LegacyNoteStatusesCall,
} from "../../utils/NotesCalls";
import {
    IcmsPiggybackCall,
    IcmsPiggybackHalCall,
} from "../../utils/PiggybackCalls.js";
import { CmsIdResolver, IdResolver } from "../../utils/IdResolvers";
import VuetifyPage from "../../components/VuetifyPage.vue";
import VuetifyTable from "../../components/VuetifyTable.vue";
import VuetifyPersonPicker from "../../components/VuetifyPersonPicker.vue";
import VuetifyEditDialog from "../../components/VuetifyEditDialog.vue";
import VuetifyConfirmDialog from "../../components/VuetifyConfirmDialog.vue";
import InstProfileLink from "../../components/links/InstProfileLink.vue";
import UserProfileLink from "../../components/links/UserProfileLink.vue";
import Hateoas from "../../utils/Hateoas.js";
import HateoasEditor from "../../components/HateoasEditor.vue";
import NoteDetailsDialog from "./NoteDetailsDialog.vue";
import NoteStubActionsDialog from "./NoteStubActionsDialog.vue";

export default {
    name: "NoteStubs",
    components: {
        "person-picker": VuetifyPersonPicker,
        page: VuetifyPage,
        "data-table": VuetifyTable,
        "edit-dialog": VuetifyEditDialog,
        "confirm-dialog": VuetifyConfirmDialog,
        "inst-link": InstProfileLink,
        "user-link": UserProfileLink,
        "hateoas-editor": HateoasEditor,
        "note-details": NoteDetailsDialog,
        "stub-actions": NoteStubActionsDialog,
    },
    props: {
        stubsCall: {
            type: LegacyNotesCall,
            default: () => new LegacyNotesCall().stubs(),
        },
        cmsIdResolver: {
            type: CmsIdResolver,
            default: () => new CmsIdResolver(this),
        },
        stubStateResolver: {
            type: IdResolver,
            default: () => new IdResolver(this, "processNumber"),
        },
    },
    data: () => ({
        tableHeaders: [
            { text: "Process", value: "processNumber" },
            { text: "Type", value: "type" },
            { text: "Title", value: "title" },
            { text: "Status", value: "status" },
            { text: "Submitter", value: "submitter" },
            { text: "Last update", value: "lastUpdate" },
            { text: "Actions", value: "actions" },
        ],
        pending: true,
        selected: {
            year: null,
            noteType: null,
            processNumber: null,
            state: null,
        },
        entries: {},
        states: {},
        hyperlinks: {},
        dialogs: {
            stubDetails: false,
            stubActions: false,
        },
        filters: {
            actionable: true,
        },
    }),
    watch: {
        cmsIdResolverSize: function (newVal, oldVal) {
            console.debug(
                "CMS ID resolver size changed from " + oldVal + " to " + newVal
            );
            var compo = this;
            this.$nextTick(() => compo.cmsIdResolver.fetchMissing());
        },
        stubStateResolverSize: function (newVal, oldVal) {
            var compo = this;
            this.$nextTick(() => compo.requestStubStates());
        },
    },
    computed: {
        tableRows: function () {
            var compo = this;
            return Object.values(this.entries)
                .filter(
                    (e) =>
                        !compo.filters.actionable ||
                        (this.states[e.processNumber] || {})._templates !==
                            undefined
                )
                .map((e) => ({
                    ...e,
                    submitter: compo.cmsIdResolver.getLabelForId(
                        e.submitterCmsId
                    ),
                }));
        },
        cmsIdResolverSize: function () {
            return Object.keys(this.cmsIdResolver.data).length;
        },
        stubStateResolverSize: function () {
            return Object.keys(this.stubStateResolver.data).length;
        },
    },
    methods: {
        showStubDetails: function(procNo){
            this.setSelectedProcessNumber(procNo);
            this.dialogs.stubDetails = true;
        },
        showStubActions: function(procNo){
            this.setSelectedProcessNumber(procNo);
            this.dialogs.stubActions = true;
        },
        setSelectedProcessNumber: function (number) {
            this.$set(this.selected, "processNumber", null);
            this.$set(this.selected, "processNumber", number);
        },
        dialogOpenClose: function (state) {
            if (!state) {
                console.debug("Closing a dialog");
                this.selected.processNumber = null;
                this.selected.state = null;
            }
        },
        requestStubsData: function () {
            this.entries = {};
            this.stubsCall.get();
        },
        requestStubStates: function () {
            if (this.hyperlinks.stubStates === undefined) {
                console.debug(
                    "Cannot fetch stub states - the link has not been discovered!"
                );
            } else {
                console.debug(
                    "About to request stub states from " +
                        this.hyperlinks.stubStates.href
                );
                new IcmsPiggybackHalCall(this.hyperlinks.stubStates.href)
                    .setSuccessCallback(this.updateStubStatesFromRemote)
                    .set(
                        "stubIds",
                        this.stubStateResolver.getIdsToResolve().join(",")
                    )
                    .get();
            }
        },
        updateStubStatesFromRemote: function (states) {
            this.states = {
                ...this.states,
                ...Object.fromEntries(states.map((s) => [s.processNumber, s])),
            };
        },
        updateStubState: function (newState){
            this.$set(this.states, newState.processNumber, newState);
        },
        updateStubsFromRemote: function (stubsArray) {
            this.entries = {
                ...this.entries,
                ...stubsArray
                    .map((e) => ({
                        ...e,
                        lastUpdate: new Date(e.modificationTimestamp)
                            .toISOString()
                            .substring(0, 10),
                    }))
                    .reduce((p, c, i) => {
                        p[c.processNumber] = c;
                        return p;
                    }, {}),
            };
            // accumulate the CMS IDs that need resolution
            this.cmsIdResolver.markIdsForResolution(
                stubsArray.map((e) => e.submitterCmsId)
            );
            // in a similar fashion, store the stubStates to fetch
            this.stubStateResolver.markIdsForResolution(
                stubsArray.map((e) => e.processNumber)
            );
        },
    },
    mounted: function () {
        var compo = this;
        // setup the stubs processor
        this.stubsCall.setSuccessCallback(this.updateStubsFromRemote);
        // this.stubsCall.getProcessor().setTemplateHandler()
        this.stubsCall.getProcessor().setLinkHandler((label, link) => {
            if (label === "next") {
                new IcmsPiggybackHalCall(link.href)
                    .setSuccessCallback(compo.updateStubsFromRemote)
                    .get();
            } else if (label === "stubStates") {
                compo.$set(compo.hyperlinks, label, link);
            }
        }).setTemplateHandler((label, template) => {
            console.debug("Discovered a top-level template: " + label);
        });
        // launch the download
        this.requestStubsData();
    },
};
</script>

<style>
</style>