<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Notes pending secretariat's approval</template>
            <template v-slot:header>
                <v-text-field label="Year" v-model="noteYear" type="number"></v-text-field>
                <v-select v-model="noteType" :items="supportedTypes" label="Note type"> </v-select>
            </template>
            <template v-slot:toolbar-right>
            </template>
            <template v-slot:body>
                <data-table :headers="tableHeaders" :items="noteItems">
                    <template v-slot:item="props">
                        <tr>
                            <td class="px-1" v-for="header in tableHeaders" :key="header.value">
                                <div v-if="header.value == 'status'"> 
                                    <div v-if="!canApprove(props.item['processNumber'])">
                                        no action available
                                    </div>
                                    <v-btn v-else color="green darken-1" text @click="approveStub(props.item.processNumber)">
                                        approve as Secretariat
                                    </v-btn>
                                </div>
                                <div v-else>
                                    {{props.item[header.value]}}
                                </div>
                            </td>
                        </tr>
                    </template>
                </data-table>
            </template>
        </base-page>
    </div>
</template>

<script>
import Ajax from '../../utils/Ajax.js'
import AjaxCalls from '../../utils/AjaxCalls.js'
import VuetifyPage from '../../components/VuetifyPage.vue'
import VuetifyTable from '../../components/VuetifyTable.vue'
import store from '../../store.js'
import Hateoas from '../../utils/Hateoas.js'

export default {
    name: 'NotesSecretariat',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
    },
    data: function(){
        return {
            // TODO: setup an API to fetch supported types automagically!
            supportedTypes: ['CR', 'DP', 'IN', 'NOTE', 'TS'],
            noteYear: new Date().getUTCFullYear(),
            noteType: 'TS',
            loadedNotes: [],
            loadedStates: {},
        };
    },
    watch: {
        loadedNotes: function(newValue){
            var cbk = this.storeState;
            this.loadedNotes.forEach(e => {
                if (e._links != undefined && e._links.state != undefined){
                    new AjaxCalls.Call(e._links.state.href).setSuccessCallback(cbk).get();
                }
            });
        },
        noteYear: function(newValue){
            this.init();
        },
        noteType: function(newValue){
            this.init();
        }
    },
    computed: {
        tableHeaders: function(){
            return [
                {text: 'Process ID', value: 'processNumber'},
                {text: 'Type', value: 'type'},
                {text: 'Action', value: 'status'},
                {text: 'Title', value: 'title'},
                {text: 'Submitter', value: 'submitterCmsId'}
            ];
        },
        noteItems: function(){
            var result = [];
            this.loadedNotes.forEach(e=>{
                if(e.processNumber > 0 && e.state != undefined && e.state.status != 'DONE' && this.canApprove(e.processNumber)){
                    result.push(e);
                }
            });
            return result;
        }
    },
    methods: {
        canApprove: function(processId){
            // This check could be a bit more specific but the action will anyway require server-side authorization.
            if (this.loadedStates[processId] != undefined){
                var state = this.loadedStates[processId];
                if (state['_templates'] != null){
                    return true;
                }
            }
            return false;
        },
        approveStub: function(processId){
            console.debug("About to approve stub "+processId);
            new AjaxCalls.Call(this.loadedStates[processId]._links.self.href)
                .set("action", "ACCEPT").setSuccessCallback(this.stubApprovedCallback).post();
        },
        stubApprovedCallback: function(data){
            store.commit("infoMessage", "Success. Stub #" + data.processNumber+" is now " + data.status);
            console.debug(data);
            this.storeState(data);
        },
        storeNotes: function(response){
            console.debug("Storing incoming note info.");
            var processor = new Hateoas.ResponseProcessor(response);
            var component = this;
            processor.setEntityCollectionHandler((label, arr) => {component.$set(component, 'loadedNotes', arr)});
            processor.process();
        },
        storeState: function(data){
            console.debug("Storing note state info");
            this.$set(this.loadedStates, data.processNumber, data);
        },
        requestNotes: function(){
            new AjaxCalls.LegacyNotesCall().stubs().setYear(this.noteYear).setType(this.noteType).setSuccessCallback(this.storeNotes).get();
        },
        init: function(){
            this.requestNotes();
        }
    },
    mounted: function(){
        console.debug("Launching init straight away");
        this.init();
    }
}
</script>

<style>

</style>