<template>
    <div>
        <page>
            <template v-slot:toolbar-middle>
                <v-toolbar-title>Analysis Working Groups</v-toolbar-title>
            </template>
            <template v-slot:header>
            </template>
            <template v-slot:body>
                <data-table :headers="tableHeaders" :items="tableRows" :enableEgroupExport="false" :rowsPerPageItems="[-1]" dense>
                    <template v-slot:item.conveners = "{item}">
                        <ul>
                            <li v-for="convener in item.conveners" v-bind:key="convener.id">
                                <user-link :cmsId="convener.cmsid" :label="convener.name"></user-link>
                            </li>
                        </ul>
                    </template>
                    <template v-slot:item.created = "{item}">
                        {{(item.creationInfo || {}).date || ''}}
                    </template>
                </data-table>
            </template>
        </page>
    </div>
</template>

<script>

import {AwgsCall} from '../../utils/CadiCalls.js'
import VuetifyPage from '../../components/VuetifyPage.vue'
import VuetifyTable from '../../components/VuetifyTable.vue'
import VuetifyPersonPicker from '../../components/VuetifyPersonPicker.vue'
import VuetifyEditDialog from '../../components/VuetifyEditDialog.vue'
import VuetifyConfirmDialog from '../../components/VuetifyConfirmDialog.vue'
import UserProfileLink from '../../components/links/UserProfileLink.vue'
import Hateoas from '../../utils/Hateoas.js'
import HateoasEditor from '../../components/HateoasEditor.vue'


export default {
    name: 'Awgs',
    components: {
        'person-picker': VuetifyPersonPicker,
        'page': VuetifyPage,
        'data-table': VuetifyTable,
        'edit-dialog': VuetifyEditDialog,
        'confirm-dialog': VuetifyConfirmDialog,
        'user-link': UserProfileLink,
        'hateoas-editor': HateoasEditor,
    },
    data: function(){
        return {
            tableHeaders: [
                {text: 'Name', value: 'name'},
                {text: 'Full name', value: 'fullName'},
                {text: 'Type', value: 'type'},
                {text: 'Created', value: 'created'},
                {text: 'Status', value: 'status'},
                {text: 'Conveners', value: 'conveners'}
            ],
            awgs: [],        
        };
    },
    computed: {
        tableRows: function(){
            return this.awgs;
        }
    },
    methods: {
        receiveAwgsData: function(response){
            var compo = this;
            new Hateoas.ResponseProcessor(response).setEntityCollectionHandler((label, arr) => {
                compo.awgs = arr;
            }).process();
        },
    },
    mounted: function(){
        new AwgsCall().setSuccessCallback(this.receiveAwgsData).get();
    }
}
</script>