<template>
    <div>
        <page>
            <template v-slot:toolbar-middle>
                <v-toolbar-title>CADI Lines</v-toolbar-title>
            </template>
            <template v-slot:header>
                <v-text-field label="Year" v-model="selected.year" type="number"></v-text-field>
                <v-select label="AWG" v-model="selected.awg" :items="options.awg"></v-select>
            </template>
            <template v-slot:body>
                <data-table :headers="tableHeaders" :items="tableRows" :enableEgroupExport="false" :rowsPerPageItems="[-1]" dense>
                    <template v-slot:item.notes = "{item}">
                        <ul>
                            <li v-for="note in item.relatedNotes" v-bind:key="note.id">{{note.cmsNoteId}}</li>
                        </ul>
                    </template>
                    <template v-slot:item.created = "{item}">
                        {{(item.creationInfo || {}).date || ''}}
                    </template>
                    <template v-slot:item.updated = "{item}">
                        {{(item.updateInfo || {}).date || ''}}
                    </template>
                </data-table>
            </template>
        </page>
    </div>
</template>

<script>

import {CadiLinesCall, AwgsCall} from '../../utils/CadiCalls.js';
import VuetifyPage from '../../components/VuetifyPage.vue'
import VuetifyTable from '../../components/VuetifyTable.vue'
import VuetifyPersonPicker from '../../components/VuetifyPersonPicker.vue'
import VuetifyEditDialog from '../../components/VuetifyEditDialog.vue'
import VuetifyConfirmDialog from '../../components/VuetifyConfirmDialog.vue'
import InstProfileLink from '../../components/links/InstProfileLink.vue'
import UserProfileLink from '../../components/links/UserProfileLink.vue'
import Hateoas from '../../utils/Hateoas.js'
import HateoasEditor from '../../components/HateoasEditor.vue'
import {Debouncer} from '../../utils/helpers';


export default {
    name: 'CadiLines',
    components: {
        'person-picker': VuetifyPersonPicker,
        'page': VuetifyPage,
        'data-table': VuetifyTable,
        'edit-dialog': VuetifyEditDialog,
        'confirm-dialog': VuetifyConfirmDialog,
        'inst-link': InstProfileLink,
        'user-link': UserProfileLink,
        'hateoas-editor': HateoasEditor,
    },
    data: function(){
        return {
            tableHeaders: [
                {text: 'Code', value: 'code'},
                {text: 'Title', value: 'name'},
                {text: 'Status', value: 'status'},
                {text: 'Associated notes', value: 'notes'},
                {text: 'Created', value: 'created'},
                {text: 'Updated', value: 'updated'}
            ],
            awgs: [],
            cadiLines: {},
            cmsIdLabels: {},
            cadiLinesByStatus: {},
            options: {
                awg: ['HIG', 'HIN'],
            },
            selected: {
                year: null,
                awg: null,
            },
            debouncers: {
                cadiLinesFetcher: new Debouncer(this.requestData, -1),
            }           
        };
    },
    watch: {
        'selected.year': function(nv, ov){
            this.debouncers.cadiLinesFetcher.reset(50);
        },
        'selected.awg': function(nv, ov){
            this.debouncers.cadiLinesFetcher.reset(50);
        }
    },
    props: {
        year: {
            type: Number,
            default: function(){return new Date().getFullYear()}
        },
        awg: {
            type: String,
            default: null,
        }
    },
    computed: {
        tableRows: function(){
            return Object.values(this.cadiLines);
        }
    },
    methods: {
        requestData: function(){
            console.time('requestData');

            var request = new CadiLinesCall().setSuccessCallback(this.receiveCadiLinesData);
            if (this.selected.year !== null){
                console.debug('Requesting data for year: ' + this.selected.year);
                request.setYear(this.selected.year);
            } 
            if (this.selected.awg !== null){
                console.debug('Requesting data for awg: ' + this.selected.awg);
                request.setAwg(this.selected.awg);
            }
            this.$router.push({name: 'cadilines', query: this.selected })
            request.get();
            console.timeEnd('requestData');
        },
        receiveCadiLinesData: function(response){
            console.time('receiveCadiLinesData');
            var compo = this;
            compo.cadiLines = {};
            new Hateoas.ResponseProcessor(response).setEntityCollectionHandler((label, arr) => {
                arr.forEach(compo.processIncomingCadiLineData);
            }).process();
            console.timeEnd('receiveCadiLinesData');
        },
        processIncomingCadiLineData: function(cadiLine){
            this.$set(this.cadiLines, cadiLine.code, cadiLine);
            this.$set(this.cadiLinesByStatus, cadiLine.status, this.cadiLinesByStatus[cadiLine.status] || []);
            this.$set(this.cadiLinesByStatus[cadiLine.status], this.cadiLinesByStatus[cadiLine.status].length, cadiLine.id);
        },
        receiveAwgsData: function(response){
            var compo = this;
            new Hateoas.ResponseProcessor(response).setEntityCollectionHandler((label, arr) => {
                arr.forEach(compo.processIncomingAwgData);
            }).process();
            // 
            this.$set(this.options, 'awg', this.awgs.filter(e=>true).map(e=> ({
                text: e.name + ' (' + e.fullName + ')', value: e.name
            })).sort((a, b)=>(a.value < b.value ? -1 : 1)));
        },
        processIncomingAwgData: function(record){
            this.awgs.push(record);
        }
    },
    mounted: function(){
        this.$set(this.selected, 'year', this.year);
        this.$set(this.selected, 'awg', this.awg);
        new AwgsCall().setSuccessCallback(this.receiveAwgsData).get();
    }
}
</script>

<style>

</style>