<template>
    <router-link :to="{ name: 'user-profile', params: { cmsId: cmsId }}">{{fallbackLabel}}</router-link>
</template>

<script>
    export default {
        name: 'UserProfileLink',
        props: {
            cmsId: null,
            label: null,    
        },
        computed: {
            fallbackLabel: function(){
                return this.label || this.cmsId;
            }
        }
    }
</script>