<template>
    <v-menu
        ref="menu"
        v-model="isOpen"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                :value="value"
                @input="handleChange"
                :disabled='disabled'
                :rules="rules"
                :label="label"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
            :value="value"
            @input="handleChange"
            no-title
            scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
                text
                color="primary"
                @click="menu = false"
          >
             Cancel
          </v-btn>
          <v-btn
                text
                color="primary"
                @click="$refs.menu.save(date)"
          >
                OK
          </v-btn>
        </v-date-picker>
      </v-menu>
</template>

<script>
export default {
    name: 'DateInput',
    props: {
        value: { default: null },
        label: { default: null },
        disabled: { type: Boolean, default: false },
        rules: { type: Array, default: () => [] }
    },
    data(){
        return { isOpen: false }
    },
    methods: {
        handleChange(value){
            this.$emit('input', value);
        }
    }
}
</script>