<template>
    <v-menu
        ref="menu"
        v-model="isOpen"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            :value="value"
            @input="handleChange"
            :rules="rules"
            :label="label"
            prepend-icon="mdi-clock"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
            v-if="isOpen"
            :value="value"
            @input="handleChange"
            full-width
            @click:minute="$refs.menu.save(time)"
        ></v-time-picker>
      </v-menu>
</template>

<script>
export default {
    name: 'TimeInput',
    props: {
        value: { default: null },
        label: { default: null },
        rules: { type: Array, default: () => [] }
    },
    data(){
        return { isOpen: false }
    },
    methods: {
        handleChange(value){
            this.$emit('input', value);
        }
    }
}
</script>