<script>
import GenericTable from '../mixins/GenericTable.vue'
import Ajax from '../utils/Ajax.js';

export default {
    name: 'ALMentions',
    mixins: [GenericTable],
    props: {
        cmsId: {required: false, type: String, default: null},
        // overriding the mixin's prop to leverage DataTables
        dataTable: {default: true, type: Boolean},
        headers: {type: Object, default: function(){
            return {'cadi_status': 'CADI status', 'title': 'Title', 'journal': 'Journal', 'code': 'Code', 'cds_upload_date': 'CDS upload date'}}},
        columnsOrder: {type: Array, default: function(){return ['code', 'title', 'journal', 'cds_upload_date', 'cadi_status']}}
    },
    data: function(){
        return {
            userInfo: null,
            fetchingUserData: false,
        };
    },
    watch: {
        // whenever the cmsId changes we need to refetch the data, but first we invalidate it to trigger a repaint
        $route: function(val){
            console.debug('value of cmsId prop changed!');
            this.tableData = null;
            this.refetch();
        },

        userInfo: function(val){
            Ajax.getAuthorListMentions(val['cms_id'], this.dataSuccess);
        }
    },
    // we fetch the data for the first time once the component is mounted
    mounted: function(){
        this.refetch();
    },
    methods: {
        // our refetch method makes use of mixin's dataSuccess to repopulate the table
        refetch: function(){
            if (!this.fetchingUserData){
                if (this.cmsId != null){
                    console.debug('Fetching user info for CMS ID ' + this.cmsId);
                    Ajax.getUserInfo(this.cmsId, this.setUserInfo);
                }else{
                    console.debug('Fetching current user info');
                    Ajax.getCurrentUserInfo(this.setUserInfo);
                }
                this.fetchingUserData = true;
            }
        },
        setUserInfo: function(data){
            console.debug('Setting user data');
            this.userInfo = data;
            this.fetchingUserData = false;
        }
    },
    computed: {
        title: function(){
            if (this.userName != null){
                return 'Author List mentions of ' + this.userName;
            }else{
                return 'Author List mentions'
            }
        },
        userName: function(){
            if (this.userInfo != null){
                return this.userInfo['first_name']+' '+this.userInfo['last_name'];
            }
            return null;
        }
    }
}
</script>

<style>

</style>