<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Announcements</template>
            <template v-slot:header>
                <v-container class="text-center" fluid>
                    <v-row  align="center">
                        <v-btn @click='summonDialogBox' color='success'>Create Announcement</v-btn>
                        <v-spacer />
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="announcements" 
                    :loading="loading"
                    :search="search" 
                >
                    <template v-slot:[`item.content`]="{item}">
                        <text-box :body='item.content' font-size='13px' />
                    </template>
                </data-table>
            </template>
        </base-page>
        <create-announcement-dialog  v-model='isDialogOpen' @created='addAnnouncement' />
    </div>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';
import VuetifyPage from '../components/VuetifyPage.vue';
import VuetifyTable from '../components/VuetifyTable.vue';
import CreateAnnouncementDialog from '../components/CreateAnnouncementDialog.vue';
import TextBox from '../components/TextBox.vue';

export default {
        name: 'Announcements',
        components: {
            'base-page': VuetifyPage,
            'data-table': VuetifyTable,
            'create-announcement-dialog': CreateAnnouncementDialog,
            'text-box': TextBox
        },
        data(){
            return {
                announcements: [],
                loading: false,
                search: '',

                isDialogOpen: false
            }
        },
        computed: {
            headers: () => [
                {text: 'ID', value: 'id', sortable: true},
                {text: 'Application', value: 'application', sortable: true},
                {text: 'Type', value: 'type', sortable: true},
                {text: 'Subject', value: 'subject', sortable: true},
                {text: 'Content', value: 'content', sortable: true, width: '40%'},
                {text: 'Start datetime', value: 'start_datetime', sortable: true},
                {text: 'End datetime', value: 'end_datetime', sortable: true},
            ]
        },
        methods: {
            loadAnnounmentList(){
                this.loading = true;
                new AjaxCalls.AnnouncementsCall()
                    .setSuccessCallback((data) => {
                        this.loading = false;
                        this.announcements = data;
                    })
                    .get();
            },
            addAnnouncement(announcement){
                this.announcements.push(announcement);
            },
            summonDialogBox(){
                this.isDialogOpen = true;
            },
        },
        mounted(){
            this.loadAnnounmentList();
        }
}
</script>