<template>
    <base-page>
        <template v-slot:toolbar-title>Authorship Applications Overview</template>
        <template v-slot:body>
            <data-table 
                :items="applications" 
                :headers="headers" 
                :noAutoformat="false"
            />
        </template>
    </base-page>
</template>

<script>
    import Calls from '../utils/AjaxCalls.js'
    import VuetifyPage from '../components/VuetifyPage.vue'
    import VuetifyTable from '../components/VuetifyTable.vue'

    export default {
        name: 'AuthorApplicants',
        components: {
            'base-page': VuetifyPage,
            'data-table': VuetifyTable,
        },
        data: function(){
            return {
                applications: [],
                headers: [
                    {text: 'CMS ID', value: 'cmsId', sortable: true},
                    {text: 'Last name', value: 'last_name', sortable: true},
                    {text: 'First name', value: 'first_name', sortable: true},
                    {text: 'Institute', value: 'instCode', sortable: true},
                    {text: 'Activity', value: 'activity', sortable: true},
                    {text: 'Passed', value: 'passed', sortable: true},
                    {text: 'Failed', value: 'failed', sortable: true},
                    {text: 'Comments', value: 'reason', sortable: true},
                    {text: 'Days', value: 'daysCount', sortable: true},
                    {text: 'Own EPR', value: 'workedSelf', sortable: true}, 
                    {text: 'Inst EPR', value: 'workedInst', sortable: true},
                    {text: 'Inst due', value: 'neededInst', sortable: true},
                    {text: 'Check time', value: 'datetime', sortable: true},
                    {text: 'Run number', value: 'runNumber', sortable: true},
                ]
            }
        },
        mounted: function(){
            new Calls.ApplicationsInfoCall().setLastRunOnly(true).setSuccessCallback(this.storeApplicationsData).get();
        },
        methods:{
            storeApplicationsData: function(data){
                this.applications = data;
            }
        }
    }
</script>