<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>CMS Communications Contacts</template>
            <template v-slot:body>
                <v-tabs v-model="activeTab" dark>
                    <v-tab>Institutes</v-tab>
                    <v-tab>Funding Agencies</v-tab>
                    <v-tab v-if="canManage">Manage Appointments</v-tab>

                    <v-tab-item>
                        <v-card flat>
                            <data-table :headers="headersInst" :items="instData" />
                        </v-card>
                    </v-tab-item>
                    
                    <v-tab-item>
                        <v-card flat>
                            <data-table :headers="headersFa" :items="faData" />
                        </v-card>
                    </v-tab-item>

                    <v-tab-item>
                        <v-card v-for="fa in managedFAs" :key="fa">
                            <v-card-title> <h4>{{fa}} (funding agency)</h4> </v-card-title>
                            <v-btn v-if="fa in faCommsPersons" @click.stop="clickRecall(faCommsPersons[fa].id)">Recall {{formatPerson(faCommsPersons[fa])}}</v-btn>
                            <v-btn v-else color="primary" dark @click.stop="openDialog('fa', fa)">Designate new Communications Person</v-btn> 
                        </v-card>

                        <v-card v-for="inst in managedInsts" :key="inst">
                            <v-card-title><h4>{{inst}} (institute)</h4></v-card-title>
                            <v-btn v-if="inst in instCommsPersons" @click.stop="clickRecall(instCommsPersons[inst].id)">Recall {{formatPerson(instCommsPersons[inst])}}</v-btn>
                            <v-btn v-else color="primary" dark @click.stop="openDialog('inst', inst)">Designate new Communications Person</v-btn>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </template>
        </base-page>
        
        <v-container fluid>
            <v-row>
                <v-col sm="12">
                    <div>      
                        <!-- This the actual dialog that (any) delegation button will pull up  -->
                        <v-dialog v-model="dialog" persistent max-width="800px">
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{dialogTitle}}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <person-picker ref="personPicker" label="CMS Member" v-model="editPerson" required></person-picker>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                                    <v-btn color="blue darken-1" text @click="designateCommsPerson">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- And this is our confiration modal  -->
                        <v-row  justify="center">
                            <v-dialog v-model="confirmationModal" persistent max-width="290">
                                <v-card>
                                    <v-card-title class="headline">{{confirmationHeadline}}</v-card-title>
                                    <v-card-text>{{confirmationQuestion}}</v-card-text>
                                    <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green darken-1" text @click="modalDismiss">Cancel</v-btn>
                                    <v-btn color="green darken-1" text @click="modalConfirm">Continue</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-row>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>

import Ajax from '../utils/Ajax.js'
import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
import AjaxCalls from '../utils/AjaxCalls.js'
import VuetifyPage from '../components/VuetifyPage.vue'
import VuetifyTable from '../components/VuetifyTable.vue'
    

export default {
    name: 'CommsOverview',
    components: {
        'person-picker': VuetifyPersonPicker,
        'base-page': VuetifyPage,
        'data-table': VuetifyTable
    },
    data: function(){
        return {
            searchFa: '',
            searchInst: '',
            activeTab: null,
            userInfo: {team_duties: []},
            // storing all the tenures here
            tenures: [],
            // FA INFO
            fundingAgencies: [],
            institutes: [],
            // just to know the ids when making designations
            instUnits: [],
            // so that we know the ids of positions to designate for
            positions: [],
            // for designations
            dialog: null,
            dialogTitle: '',
            editPerson: null,
            editUnitName: null,
            editUnitType: null,
            recallTenureId: null,
            // for the modal
            confirmationModal: false,
            confirmationQuestion: null,
            confirmationHeadline: null,
            // the external contacts
            externalInstContacts: {},
            externalFaContacts: {},
        };
    },
    props: {
        headersFa: {type: Array, default: function(){
                return [
                    { text: 'FA Name', value: 'name', sortable: true },
                    { text: 'Link Person', value: 'link', sortable: true },
                    { text: 'Communications Person', value: 'comm', sortable: true },
                ];
            }},
        headersInst: {type: Array, default: function(){
                return [
                    { text: 'Code', value: 'code', sortable: true },
                    { text: 'Name', value: 'name', sortable: true },
                    { text: 'Status', value: 'status', sortable: true },
                    { text: 'Leader', value: 'leader', sortable: true },
                    { text: 'Communications Person', value: 'comms', sortable: true},
                ];
            }},
    },
    computed: {
        managedInsts: function(){

            return Object.keys(this.userInfo.team_duties || {}).filter(e => this.userInfo.team_duties[e].toLowerCase() == 'leader');
        },
        faLinkPersons: function(){
            var result = {};
            this.tenures.filter(e => (/link person/i).test(e.position)).forEach(function(el){
                result[el.domain] = el;
            });
            return result;
        },        
        faCommsPersons: function(){
            var result = {};
            this.tenures.filter(e => (/communications person/i).test(e.position) && (/funding agency/i).test(e.unit_type)).forEach(function(el){
                result[el.domain] = el;
            });
            return result
        },
        instCommsPersons: function(){
            var result = {};
            this.tenures.filter(e => (/communications person/i).test(e.position) && (/institute/i).test(e.unit_type)).forEach(function(el){
                result[el.domain] = el;
            });
            return result
        },
        managedFAs: function(){
            return this.tenures.filter(e => e.cms_id == this.userInfo.cms_id && (/funding agency/i).test(e.unit_type) && (/link person/i).test(e.position)).map(e => e.domain);
        },
        faData: function(){
            var result = [];
            var compo = this;
            this.fundingAgencies.forEach(function(el){
                var contactPerson = (compo.faCommsPersons.hasOwnProperty(el.domain) ? compo.faCommsPersons : compo.externalFaContacts)[el.domain];
                result.push({
                    name: el.domain,
                    link: compo.formatPerson(compo.faLinkPersons[el.domain]),
                    comm: compo.formatPerson(contactPerson),
                    email: contactPerson !== undefined ? contactPerson.email : '',
                });
            });
            return result;
        },
        instData: function(){
            var result = [];
            var compo = this;
            this.institutes.forEach(function(el){
                var contactPerson = (compo.instCommsPersons.hasOwnProperty(el.code) ? compo.instCommsPersons : compo.externalInstContacts)[el.code];
                result.push({
                    name: el.name,
                    code: el.code,
                    status: (/yes/i).test(el.status) ? 'Member' : el.status,
                    leader: compo.formatPerson(el.management.find(e => (/leader/i).test(el.role))),
                    comms: compo.formatPerson(contactPerson),
                    email: contactPerson !== undefined ? contactPerson.email : '',
                });
            });
            return result;
        },
        canManage: function(){
            return this.managedFAs.length + this.managedInsts.length > 0
        },
    },
    methods: {
        getUserData: function(){
            var compo = this;
            Ajax.getUserInfo(null, function(data){
                compo.userInfo = data;
            });
        },
        getFundingAgencies: function(){
            var compo = this;
            Ajax.getOrgUnits('funding agency', null, true, function(data){
                compo.fundingAgencies = data;
            });
        },
        getTenures: function(){
            var compo = this;
            Ajax.getTenures(function(tenuresData){
                compo.tenures = tenuresData;
            }, [], new Date().toISOString(), ['institute', 'funding agency']);
        },
        getInstitutes: function(){
            var compo = this;
            Ajax.getInstitutes([], ['Yes', 'Cooperating', 'Associated'], [], function(data){
                compo.institutes = data;
            });
            // we need to fetch independently the institute IDs
            Ajax.getOrgUnits('institute', null, true, function(data){
                compo.instUnits = data;
            });
        },
        getCommsPositions: function(){
            var compo = this;
            Ajax.getPositions(function(data){
                compo.positions = data;
            }, Ajax.defaultFailHandler, [], ['communications person']);
        },
        formatPerson: function(el){
            if (el == null) return null;
            return el.first_name + ' ' + el.last_name
        },
        openDialog: function(unitType, unitName){
            this.dialog = true;
            this.editUnitName = unitName;
            this.editUnitType = unitType;
            this.dialogTitle = 'Designate new Comms Person for ' + unitName;
        },
        designateCommsPerson: function(){
            var unitId = null;
            var positionId = null;
            if ((/inst/u).test(this.editUnitType)){
                positionId = this.positions.find(p => (/institute/i).test(p.unit_type)).id;
                unitId = this.instUnits.find(u => u.domain == this.editUnitName).id;
            } else if ((/fa/u).test(this.editUnitType)) {
                // unit name had been stored when dialog was popped up, based on unit type we know we're looking for a funding agency
                unitId = this.fundingAgencies.find(e => e.domain == this.editUnitName).id;
                positionId = this.positions.find(p => (/funding agency/i).test(p.unit_type)).id;
                // now we need to get the position ID
            } else{
                console.error('Received an unsupported org unit type: ' + this.editUnitType);
            }
            console.debug('About to designate someone: ' + this.editPerson + ' for ' + this.editUnitName + ' [' + this.editUnitType + ', #' + unitId + '] for position with id: ' + positionId);
            // omitted params: startDate=null, endDate=null
            Ajax.postDesignation(this.processDesignationResponse, this.processDesignationResponse, this.editPerson, unitId, positionId);
        },
        processDesignationResponse: function(data, textStatus){
            console.debug('Returned text status is ' + textStatus);
            if (textStatus == 'success'){
                // trap the user in the dialog (showing the error should follow!)
                this.dialog = false;
                this.tenures.push(data);
            }else{
                alert('Request failed!');
            }
        },
        clickRecall: function(tenureId){
            this.recallTenureId = tenureId;
            var tenure = this.tenures.find(t => t.id==tenureId);
            this.confirmationQuestion = 'You are about to terminate the appointment of ' + tenure.first_name + ' ' + tenure.last_name + ' as ' + tenure.position + ' for ' + tenure.domain + '.';
            this.confirmationHeadline = 'Please confirm'
            this.confirmationModal = true;
        },
        modalConfirm: function(){
            var compo = this;
            Ajax.deleteDesignation(this.recallTenureId, function(data){
                compo.tenures = compo.tenures.filter(t => t.id != compo.recallTenureId);
                compo.modalDismiss();
            }, Ajax.defaultFailHandler);
        },
        modalDismiss: function(){
            this.recallTenureId = null;
            this.confirmationModal = false;
        },
        getExternalOutreachContacts: function(){
            new AjaxCalls.ExternalOutreachContactsCall().setSuccessCallback(this.storeExternalOutreachContacts).get();
        },
        storeExternalOutreachContacts: function(data){
            var compo = this;
            data.forEach(e => {
                var record = {
                    first_name: e.firstname,
                    last_name: e.lastname,
                    entity: e.code,
                    email: e.email
                };
                var targetMap = compo.externalInstContacts;
                if (e.type === 'fa'){
                    targetMap = compo.externalFaContacts;
                }
                compo.$set(targetMap, e.code, record);
            });
        }
    },
    mounted: function(){
        this.getUserData();
        this.getFundingAgencies();
        this.getTenures();
        this.getInstitutes();
        this.getCommsPositions();
        this.getExternalOutreachContacts();
    }
}
</script>

<style>

</style>
