<template>
    <base-page>
        <template v-slot:toolbar-title>Compose Email</template>
        <template v-slot:body>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-container >
                    <v-row justify="center">
                        <div style='width: 600px'>
                            <v-text-field
                                v-model="sender"
                                label="Sender"
                                :rules="senderRules"
                            />
                            <v-text-field
                                v-model="to"
                                label="Recepients"
                                :rules="toRules"
                            />
                            <v-text-field
                                v-model="bcc"
                                label="Bcc"
                                :rules="bccRules"
                            />
                            <v-text-field
                                v-model="cc"
                                label="Cc"
                                :rules="ccRules"
                            />
                            <v-text-field
                                v-model="subject"
                                label="Subject"
                                :rules="subjectRules"
                            />
                            <v-textarea
                                v-model="body"
                                label="Content"
                                :rules="bodyRules"
                            />
                            <v-btn color='success' block @click='sendMail'>
                                Send
                            </v-btn>
                        </div>
                    </v-row>
                </v-container>                
            </v-form>
        </template>
    </base-page>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';
import { fieldRequiredRule, emailAddressRule, emailAddressListRule } from '../utils/validation';
import VuetifyPage from '../components/VuetifyPage.vue'

export default {
    name: 'ComposeEmail',
    components: {
        'base-page' : VuetifyPage
    },
    data(){
        return {
            valid: true,
            sender: '',
            senderRules: [
                fieldRequiredRule('Sender'),
                emailAddressRule('Sender')
            ],
            to: '',
            toRules: [
                fieldRequiredRule('Recepient'),
                emailAddressListRule('Recepient')
            ],
            bcc: '',
            bccRules: [
                emailAddressListRule('Bcc')
            ],
            cc: '',
            ccRules: [
                emailAddressListRule('Cc')
            ],
            subject: '',
            subjectRules: [
                fieldRequiredRule('Subject')
            ],
            body: '',
            bodyRules: [
                fieldRequiredRule('Content')
            ],

        };
    },
    methods:{
        sendMail(){
            if(!this.$refs.form.validate()) return;
            
            new AjaxCalls.EmailCall()
                .setSender(this.sender)
                .setTo(this.to)
                .setBcc(this.bcc)
                .setCc(this.cc)
                .setSubject(this.subject)
                .setBody(this.body)
                .setSuccessCallback((res) => {
                        this.$store.commit('infoMessage', 'Email Sent!');
                        this.$router.push({name: 'list-emails'})
                })
                .post()
        }
    }
}
</script>