<template>
    <div>
        <div style="text-align: center;">
            <h3>EPR Due Correction Tool</h3>
        </div>
        <div style="width: 60%; margin-left: auto; margin-right: auto;">
            <flash-message></flash-message>
            <div class="form-group">
                <label for="personSelect">Person</label>
                <person-picker ref="person" v-model="cmsId"></person-picker>
                <small id="person-help" class="form-text text-muted">Please type at least 3 characters, multiple tokens should be separated by spaces.</small>
            </div>

            <div class="form-group" v-if='dueTypes.length > 0'>
                <label for='type-radio-group'>Type</label>
                <div class="radio" id="type-radio-group"> 
                    <label v-for='dueType in dueTypes' v-bind:key='dueType'><input type="radio" name="due-type" :value='dueType' v-model="typeVal">{{dueType}}</label>
                </div>
                <small id="type-help" class="form-text text-muted">Type of the due to be corrected.</small>
            </div>

            <div class="form-group">
                <label for='amount-input'>Correction</label>
                <input id='amount-input' class="form-control" type='number' step='0.01' v-model="correction"/>
                <small id="amount-help" class="form-text text-muted">A positive number will increase the due, a negative will result in a deduction.</small>
            </div>

            <div class="form-group" v-if="instCodes.length > 0">
                <label for='inst-radio-group'>Institute</label>
                <div class="radio" id="inst-radio-group"> 
                    <label v-for='code in instCodes' v-bind:key="code"><input type="radio" name="inst-code" :value='code' v-model="instVal">{{code}}</label>
                </div>
                <small id="inst-help" class="form-text text-muted">Relevant when changes should only apply to particular institute and person changed institutes during the year.</small>
            </div>

            <div class="form-group">
                <label for='year-input'>Year</label>
                <input id='year-input' class="form-control" type='number' step='1' :min="minYear" :max="maxYear" v-model="year" v-on:change="updateTimeLines"/>
                <small id="year-help" class="form-text text-muted">Only possible for the (recent) past.</small>
            </div>

            <div class="form-group">
                <label for='reason-input'>Reason for reduction</label>
                <select id='reason-input' class="form-control" v-model="reason">
                    <option v-for="reason in reasons" v-bind:key="reason['value']" :value="reason['value']">{{reason['label']}}</option>
                </select>
                <small id="reason-help" class="form-text text-muted">In case of "other", please specify in remarks.</small>
            </div>

            <div class="form-group">
                <label for='remarks-input'>Additional remarks</label>
                <textarea id='remarks-input' class="form-control" v-model="remarks"/>
            </div>

            <v-row  justify="center">
                <v-btn color="primary" dark @click.stop="dialog = preSubmitCheck()">Apply</v-btn>
                <v-dialog v-model="dialog" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Please confirm</v-card-title>
                    <v-card-text>
                        The {{typeVal}} EPR due of {{personString}} for {{year}} ({{instVal}}) will be <font v-bind:color="correction > 0 ? 'red' : 'green'"> {{correction > 0 ? 'increased' : 'reduced'}}</font> by {{Math.abs(correction)}}.
                        Would you like to proceed?
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog = false">Cancel</v-btn>
                    <v-btn color="green darken-1" text @click="submit(); dialog=false">Accept</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-row>

            <div class='time-lines' v-if="timeLines.length > 0">
                <h4 style="text-align: center;">Time Lines Preview</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Start Date</th>
                            <th>Institute</th>
                            <th>Activity</th>
                            <th>Author Due</th>
                            <th>Applicant Due</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="timeLine in timeLines" :key="timeLine['id']">
                            <td>{{timeLine['year']}}</td>
                            <td>{{timeLine['timestamp']}}</td>
                            <td>{{timeLine['instCode']}}</td>
                            <td>{{timeLine['category']}}</td>
                            <td>{{timeLine['dueAuthor']}}</td>
                            <td>{{timeLine['dueApplicant']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
import Ajax from '../utils/Ajax.js'

export default {
    name: 'DueCorrector',
    components: {
        'person-picker': VuetifyPersonPicker,
    },
    data: function(){
        return {
            year: (new Date()).getFullYear()-1,
            correction: 0,
            maxYear: (new Date()).getFullYear(),
            minYear: (new Date()).getFullYear()-2,
            message: null,
            timeLines: [],
            typeVal: null,
            instVal: null,
            reason: null,
            cmsId: null,
            personString: null,
            remarks: '',
            reasons: [
                {value: 'phd', label: 'PHD'},
                {value: 'maternity', label: 'Maternity'},
                {value: 'paternity', label: 'Paternity'},
                {value: 'parenting', label: 'Part time work due to parenting'},
                {value: 'mo_ab', label: 'M&O A / B'},
                {value: 'convener_l012_pog_pag', label: 'L0 / L1 / L2 / POG / PAG'},
                {value: 'illness', label: 'Serious illness'},
                {value: 'force_majeure', label: 'Force majeure'},
                {value: 'other', label: 'Other'},
            ],
            dialog: false,
        }
    },
    methods: {
        preSubmitCheck: function(){
            console.debug('checking the inputs');
            if (this.typeVal === null){
                this.flashError('ERROR: No due type selected!');
                return false;
            } else if(this.cmsId === null){
                this.flashError('ERROR: No person selected!');
                return false;
            } else if (this.reason === null){
                this.flashError('ERROR: No reason specified!')
                return false;
            }
            return true
        },
        submit: function(){
            var compo = this;
            if (this.preSubmitCheck()) {
                Ajax.postEprCorrection(this.cmsId, this.year, this.correction, this.instVal, this.typeVal, this.reason, this.remarks,
                function(data){
                    console.debug('Corrector custom SUCCESS');
                    compo.flashSuccess(data);
                    compo.updateTimeLines();
                }, function(request, status, error){
                    console.debug('Corrector custom FAILURE');
                    compo.flashError('Error processing request! ('+error+': '+request.responseText+')');
                });
            }
        },
        updateTimeLines: function(){
            console.debug('Updating time lines preview for ' + this.event);
            this.timeLines = [];
            if (this.cmsId != null && this.year!=null){
                var compo = this;
                Ajax.getTimeLines(this.cmsId, this.year, null, function(data){
                    compo.timeLines = data;
                });
            }
        }
    },
    watch: {
        dueTypes: function(newValue, oldValue){
            if (newValue === oldValue) return;
            if (newValue.length == 1) this.typeVal = newValue[0];
        },
        instCodes: function(newValue, oldValue){
            if (newValue === oldValue) return;
            if (newValue.length == 1) this.instVal = newValue[0];
        },
        cmsId: function(){
            this.updateTimeLines();
        }
    },
    computed: {
        instCodes: function(){
            var ans = [];
            for (var i in this.timeLines){
                ans.push(this.timeLines[i]['instCode']);
            }
            return Array.from(new Set(ans));
        },
        dueTypes: function(){
            var ans = [];
            for (var i in this.timeLines){
                var tl = this.timeLines[i];
                if (tl['dueAuthor'] > 0) ans.push('author');
                if (tl['dueApplicant'] > 0) ans.push('applicant');
            }
            return Array.from(new Set(ans));
        }
    }
}
</script>

<style>

</style>
