<template>
    <div>
        <h3 style="text-align: center;"> Log of EPR authorship due corrections </h3>
        <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <data-table 
            :headers="headers" 
            :items="corrections" 
            :search="search" 
            :options="pagination"
        />
    </div>
</template>

<script>

import Ajax from '../utils/Ajax.js'
import VuetifyTable from '../components/VuetifyTable.vue';

export default {
    components: {
        'data-table': VuetifyTable
    },
    name: 'DueCorrections',
    props: {
        headers: {type: Array, default: function(){
                return [
                    {text: 'CMS ID', value: 'author_cms_id', sortable: true},
                    {text: 'First name', value: 'first_name', sortable: true},
                    {text: 'Last name', value: 'last_name', sortable: true},
                    {text: 'Year', value: 'year', sortable: true},
                    {text: 'Correction', value: 'correction', sortable: true},
                    {text: 'Inst Code', value: 'inst_code', sortable: true},
                    {text: 'Reason', value: 'reason', sortable: true},
                    {text: 'Remarks', value: 'remarks', sortable: true},
                    {text: 'by CMS ID', value: 'actor_cms_id', sortable: true},
                    {text: 'Date', value: 'date', sortable: true}
                ];
            }},
    },
    data: function(){
        return {
            corrections: [],
            search: '',
            pagination: {sortBy: 'date', sortDesc: true}
        }
    },
    mounted: function(){
        Ajax.getEprCorrections(this.setCorrections)
    },
    methods:{
        setCorrections: function(data){
            this.corrections = data;
        },
    }

}
</script>

<style>

</style>
