<template>
    <div>
        <base-page>
            <template v-slot:toolbar-left></template>
            <template v-slot:toolbar-title>Ex-Officio Mandates</template>
            <template v-slot:toolbar-right>
                <v-icon v-if="canEdit" @click="summonEditor(null)">add</v-icon>
                <v-icon v-else></v-icon>
            </template>
            <template v-slot:header></template>
            <template v-slot:body>
                <data-table :headers="headers" :items="rows" :rows-per-page-items=[-1] item-key="id">
                    <template v-slot:item="{item}">
                        <tr class="text-left"> 
                            <td> {{item.from}} </td>
                            <td> {{item.fromPos}} </td>
                            <td> {{item.to}} </td>
                            <td> {{item.toPos}} </td>
                            <td> {{item.activeSince}} </td>
                            <td> {{item.activeTill}} </td>
                            <td> {{item.modified.replace('T', ' ')}} </td>
                            <td v-if="canEdit">
                                <v-icon @click="summonEditor(item.id)">edit</v-icon>
                            </td>
                        </tr>
                    </template>
                </data-table>
            </template>
        </base-page>
        <editor ref='editor' :value="editedId" v-if="canEdit" @updated="mandateUpdated">
            <template v-slot:activator><p></p></template>
        </editor>
    </div>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyPage from '../components/VuetifyPage.vue';
    import ExOfficioEditor from '../components/ExOfficioEditor.vue';
    import VuetifyTable from '../components/VuetifyTable.vue';

    export default {
        name:   'ExOfficioMandates',
        components: {
            'base-page': VuetifyPage,
            'editor': ExOfficioEditor,
            'data-table': VuetifyTable,
        },
        data: function(){ 
            return{
                editedId: null,
            mandates: [],
            };
        },
        computed: {
            canEdit: function(){
                var flags = this.$store.state.userInfo.flags;
                return flags != null && flags != 'undefined' && flags.includes('ICMS_rootsecr');
            },
            headers: function(){
                var headers = [
                    {text: 'Source unit', value: 'from'},
                    {text: 'Source position', value: 'fromPos'},
                    {text: 'Destination unit', value: 'to'},
                    {text: 'Destination position', value: 'toPos'},
                    {text: 'Active since', value: 'activeSince'},
                    {text: 'Active until', value: 'activeTill'},
                    {text: 'Last modified', value: 'modified'},
                ];
                if (this.canEdit){
                    headers.push({text: 'Actions', value: null})
                }
                return headers;
            },
            rows: function(){
                return this.mandates.map(e => ({
                    'id': e.id,
                    'modified': e.last_modified,
                    'from': e.src_unit_domain + ' ' + e.src_unit_type,
                    'fromPos': 'level ' + e.src_position_level + (e.src_position_name != null ? (', ' + e.src_position_name) : ''),
                    'to': e.dst_unit_domain + ' ' + e.dst_unit_type,
                    'toPos': 'level ' + e.dst_position_level + (e.dst_position_name != null ? (', ' + e.dst_position_name) : ''),
                    'activeSince': e.start_date,
                    'activeTill': e.end_date,
                }));
            }
        },
        methods: {
            fetchMandates: function(){
                Ajax.getExOfficioMandates(this.setMandates);
            },
            setMandates: function(data){
                this.mandates = data;
            },
            mandateUpdated: function(data){
                var idx = this.mandates.findIndex(m => m.id == data.id);
                this.$set(this.mandates, idx >= 0 ? idx : this.mandates.length, data);
            },
            summonEditor: function(id){
                this.editedId = id;
                console.debug('Calling the editor for id: ' + id);
                this.$refs.editor.show();
            }
        },
        mounted: function(){
            this.fetchMandates();
        }
    }
</script>