<template>
    <base-page>
        <template v-slot:toolbar-title>List of CMS Institutes</template>
        <template v-slot:header>
            <v-select label="Institute status" :items="instStatuses" :multiple="true" v-model="enabledStatuses"></v-select>
        </template>
        <template v-slot:toolbar-right></template>
        <template v-slot:body>
            <data-table :items="items" :headers="headers" :enableEgroupExport="false">
                <template v-slot:item.code="{item}">
                    <inst-link :instCode="item.code"></inst-link>
                </template>
            </data-table>
        </template>
    </base-page>
</template>

<script>

import AjaxCalls from '../utils/AjaxCalls.js'
import InstProfileLink from '../components/links/InstProfileLink.vue'
import UserProfileLink from '../components/links/UserProfileLink.vue'
import VuetifyPage from '../components/VuetifyPage.vue'
import VuetifyTable from '../components/VuetifyTable.vue'

export default {
    name: 'Institutes',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'inst-link': InstProfileLink,
        'user-link': UserProfileLink,
    },
    data: function(){
        return {
            institutes: [],
            headcounts: [],
            authorcounts: [],
            enabledStatuses: ['Yes'],
        };
    },
    computed: {
        headers: function(){
            return [
                {text: 'Country', value: 'country', sortable: true},
                {text: 'Code', value: 'code', sortable: true},
                {text: 'Name', value: 'name', sortable: true},
                {text: 'Membership', value: 'status', sortable: true},
                {text: 'Leader', value: 'leader', sortable: true},
                {text: 'Deputies', value: 'deputies', sortable: true},
                {text: 'Active members', value: 'members', sortable: true},
                {text: 'Authors', value: 'authors', sortable: true},
            ];
        },
        items: function(){
            var compo = this;
            return this.institutes.filter((v, ix, all) =>  compo.enabledStatuses.indexOf(v.status) > -1).map(e=>({
                code: e.code,
                country: e.country_name || e.country_code,
                name: e.name,
                status: e.status,
                leader: ((x) =>
                    typeof x !== "undefined" ? x.last_name + ", " + x.first_name : "")(
                    e.management.find((l) => l !== null && l.role == "leader")
                ),
                deputies: e.management
                    .filter((l) => l !== null && l.role == "deputy")
                    .reduce(
                    (acc, el) =>
                        acc +
                        (acc == "" ? "" : "; ") +
                        el.last_name +
                        ", " +
                        el.first_name,
                    ""
                    ),
                members: compo.instPeople.hasOwnProperty(e.code) ? compo.instPeople[e.code] : 0,
                authors: compo.instAuthors.hasOwnProperty(e.code) ? compo.instAuthors[e.code] : 0,
            }));
        }, 
        instStatuses: function(){
            return [...(this.institutes.map((e)=>e.status).reduce((acc, v)=>{acc.add(v); return acc;}, new Set()))].map((v)=>({value: v, text: v == 'Yes' ? 'Member' : v}));
        },
        instPeople: function(){
            return this.headcounts.reduce((acc, v) => {acc[v.inst_code] = v.count; return acc;}, {});
        },
        instAuthors: function(){
            return this.authorcounts.reduce((acc, v) => {acc[v.inst_code] = v.count; return acc;}, {});
        }
    },
    methods: {
        requestData: function(){
            var compo = this;
            new AjaxCalls.InstitutesCall().setSuccessCallback(function(data){compo.storeData(data, 'institutes')}).get();
            new AjaxCalls.MembersCountCall().groupByInst().activeMembers().setSuccessCallback(function(data){compo.storeData(data, 'headcounts')}).get();
            new AjaxCalls.MembersCountCall().groupByInst().activeMembers().onlyAuthors().setSuccessCallback(function(data){compo.storeData(data, 'authorcounts')}).get();
        },
        storeData: function(data, where){
            this.$set(this.$data, where, data);
        }
    },
    mounted: function(){
        this.requestData();
    }
}
</script>

<style>

</style>