<template>
    <base-page>
        <template v-slot:toolbar-title>CMS Members Statistics</template>
        <template v-slot:header>
            <v-row class="mb-4"> 
                <v-col cols="4">
                    <v-select v-model="authorFlags" :items="optionsForAuthorFlags" label="Authorship statuses" multiple @change="fetchStats"> </v-select>
                </v-col>
                <v-col cols="4">
                    <v-select v-model="cmsStatuses" :items="optionsForCmsStatuses" label="Membership statuses" multiple @change="fetchStats"> </v-select>
                </v-col>
                <v-col cols="4">
                    <v-select v-model="groupingColumn" :items="optionsForGroupingColumn" label="Grouping column" multiple @change="fetchStats"> </v-select>
                </v-col>
            </v-row>
        </template>
        <template v-slot:body>
            <data-table :headers="headers" :items="stats" item-key="value">  
            </data-table>
        </template>
    </base-page>
</template>

<script>
    import Ajax from '../utils/Ajax.js'
    import VuetifyPage from '../components/VuetifyPage.vue'
    import VuetifyTable from '../components/VuetifyTable.vue'

    export default {
        name: 'MemberStats',
        components: {
            'base-page': VuetifyPage,
            'data-table': VuetifyTable,
        },
        data: function(){
            return {
                // --- options ---
                optionsForGroupingColumn: [
                    {text: 'Person\'s nationality', value: 'nationality'}, 
                    {text: 'Institute\'s country', value: 'inst_country'}, 
                    {text: 'Gender', value: 'gender'},
                    {text: 'Institute', value: 'inst_code'}
                ],
                optionsForCmsStatuses: ['CMS', 'CMSEMERITUS', 'EXMEMBER', 'CMSEXTENDED'],
                optionsForAuthorFlags: [true, false],
                // --- values ---
                authorFlags: [true],
                cmsStatuses: ['CMS'],
                groupingColumn: ['nationality'],
                // --- stats ---
                stats: [],
            };
        },
        computed: {
            headers: function(){
                var result = [];
                this.optionsForGroupingColumn.forEach(e => {
                    if (this.groupingColumn.indexOf(e.value) > -1){
                        result.push(e);
                    }
                });
                result.push({text: 'Count', value: 'count'});
                return result;
            },
        },
        methods:{
            fetchStatuses: function(){
                var component = this;
                Ajax.getKnownPersonStatuses(function(data){
                    component.optionsForCmsStatuses = data;
                });
            },
            fetchStats: function(){
                Ajax.getMembersCount(this.groupingColumn, this.cmsStatuses, this.authorFlags, this.storeStats);
            },
            storeStats: function(data){
                console.debug('Received some statistics data');
                console.debug(data);
                this.stats = data;
            },
        },
        mounted: function(){
            this.fetchStatuses();
            this.fetchStats();
        }
    }
</script>
