<template>
    <div>
        <base-page>
            <template v-slot:toolbar-middle>
                <v-btn icon @click="changeYear(year-1)"><v-icon>arrow_left</v-icon></v-btn>
                <v-toolbar-title>{{year}} MO Status Overview</v-toolbar-title>
                <v-btn icon @click="changeYear(year+1)"><v-icon>arrow_right</v-icon></v-btn>
            </template>

            <template v-slot:toolbar-right>
                <v-btn icon @click="summonEditor(null)"><v-icon>add_circle</v-icon></v-btn>
            </template>
            
            <template v-slot:header>
                <v-select v-model="filters.instCodes" :items="pools.instCodes" chips label="Current Institute" multiple></v-select>
                <v-spacer></v-spacer>
                <v-select v-model="filters.statuses" :items="pools.statuses" chips label="MO Status" multiple></v-select>
                <v-spacer></v-spacer>
                <v-select v-model="filters.moInstCodes" :items="pools.moInstCodes" chips label="MO Institute" multiple></v-select>
                <v-spacer></v-spacer>
                <v-select v-model="filters.faNames" :items="pools.faNames" chips label="MO Funding Agency" multiple></v-select>
            </template>
            
            <template v-slot:body>
                <v-data-table 
                    :headers="headers.moList" 
                    :items="moList" 
                    item-key="cms_id" 
                    :footer-props="{'items-per-page-options': [25, 50, 500, {text: 'All', value: -1}]}" 
                    :options="pagination.moSteps"
                    @item-expanded="prepareMoSteps"
                    show-expand
                >
                    <template v-slot:expanded-item="">
                        <td> </td>
                        <td :colspan="headers.moList.length - 2" class="py-2">
                            <v-data-table 
                                :headers="headers.moSteps" 
                                :items="selectedMoSteps" 
                                item-key="id" 
                                hide-default-footer
                                hide-actions 
                                :options="pagination.moSteps">
                                <template v-slot:[`item.timestamp`]="{item}">
                                    {{new Date(item.timestamp).toISOString().substring(0, 10)}}
                                </template>
                            </v-data-table>
                        </td>
                        <td> </td>
                    </template>
                </v-data-table>
            </template>
        </base-page>
        <mo-editor ref='moEditor'>
            <template v-slot:activator><p></p></template>
        </mo-editor>
    </div>
</template>

<script>
    import Ajax from '../utils/Ajax.js' 
    import MoEditor from '../components/MoEditor.vue'
    import VuetifyPage from '../components/VuetifyPage.vue'

    export default {
        name: 'MoAdmin',
        components:{
            'mo-editor': MoEditor,
            'base-page': VuetifyPage,
        },
        props: {
            // the default value has been removed from to limit the confusion as it's imposed by the router
            year: {type: Number, required: true}
        },
        data: () => {
            return {
                expandedRowCmsId: null,
                pagination: {
                    moList: {sortBy: ['cms_id'], sortDesc: [true]},
                    moSteps: {sortBy: ['timestamp'], sortDesc: [true]}
                },
                headers: {
                    moList: [
                        {text: 'CMS ID', value: 'cms_id', align: 'left'},
                        {text: 'First name', value: 'first_name', align: 'left'},
                        {text: 'Last name', value: 'last_name', align: 'left'},
                        {text: 'Current institute', value: 'inst_code', align: 'left'},
                        {text: 'MO status', value: 'status'},
                        {text: 'MO institute', value: 'mo_inst_code'},
                        {text: 'MO FA', value: 'fa_name'}
                    ],
                    moSteps: [
                        {text: 'Date', value: 'timestamp'},
                        {text: 'Status', value: 'status'},
                        {text: 'Writer CMS ID', value: 'writer_cms_id'},
                        {text: 'Writer\'s first name', value: 'writer_first_name'},
                        {text: 'Writer\'s last name', value: 'writer_last_name'}
                    ]
                },
                raw: {
                    moList: [],
                    moSteps: {},
                },
                filters:{
                    instCodes: [],
                    statuses: [],
                    moInstCodes: [],
                    faNames: []
                },
                startingStatusValues:[
                    {'label': 'Paid after list closing', value: 'APPROVED_LATE'}, 
                    {'label': 'FREE MO (late arrival)', value: 'APPROVED_FREE_LATECOMER'}, 
                    {'label': 'FREE MO (new CMS institute)', value: 'APPROVED_FREE_NEW_INST'}, 
                    {'label': 'FREE MO (PhD graduation)', value: 'APPROVED_FREE_PHD_GRAD'}, 
                    {'label': 'FREE MO (exended signing rights)', value: 'APPROVED_FREE_EXTENDED_RIGHTS'},
                    {'label': 'FREE MO (TOTEM member)', value: 'APPROVED_FREE_TOTEM'},
                    {'label': 'FREE MO (none of the above)', value: 'APPROVED_FREE_GENERIC'}, 
                ]
            }
        },
        watch: {
            year: function(){
                console.debug('Year has changed! to ' + this.year);
                this.init();
            }
        },
        computed: {
            moList: function(){
                var filters = this.filters;
                return this.raw.moList.filter(v => 
                    (filters.instCodes.length == 0 || filters.instCodes.includes(v.inst_code)) &&
                    (filters.statuses.length == 0 || filters.statuses.includes(v.status)) &&
                    (filters.moInstCodes.length == 0 || filters.moInstCodes.includes(v.mo_inst_code)) &&
                    (filters.faNames.length == 0 || filters.faNames.includes(v.fa_name))
                );
            },
            computedPoolInstCodes: function(){
                return Array.from(this.raw.moList.reduce((acc, cv) => acc.add(cv.inst_code), new Set())).sort();
            },
            computedPoolStatuses: function(){
                return Array.from(this.raw.moList.reduce((acc, cv) => acc.add(cv.status), new Set())).sort();
            },
            computedPoolMoInstCodes: function(){
                return Array.from(this.raw.moList.reduce((acc, cv) => acc.add(cv.mo_inst_code), new Set())).sort()
            },
            computedPoolFaNames: function(){
                return Array.from(this.raw.moList.reduce((acc, cv) => acc.add(cv.fa_name), new Set())).sort();
            },
            pools: function(){
                return {
                    instCodes: this.computedPoolInstCodes,
                    statuses: this.computedPoolStatuses,
                    moInstCodes: this.computedPoolMoInstCodes,
                    faNames: this.computedPoolFaNames
                }
            },
            selectedMoSteps: function(){
                return this.raw.moSteps[this.expandedRowCmsId];
            },
            canInsert: function(){
                // todo: needs to rely on something more elaborate.
                return true;
            }
        },
        methods: {
            summonEditor: function(){
                this.$refs.moEditor.show();
            },
            changeYear: function(newYear){
                console.debug('About to set the year to be: ' + newYear);
                this.$router.push({name: 'mo-admin', params: {year: newYear}});
            },
            init: function(){
                this.raw.moList = [];
                this.raw.moSteps = {};
                Ajax.getMoList(this.year, null, null, null, this.setListData);
            },
            setListData: function(data){
                console.debug('Received what we think is the MO list data');
                this.raw.moList = data;
            },
            setStepsData: function(data){
                var cms_id = -1;
                if (data.length > 0){
                    cms_id = data[0].cms_id;
                }
                this.raw.moSteps[cms_id] = data;
            },
            prepareMoSteps: function({item}){
                
                this.expandedRowCmsId = item.cms_id;
                if (!Object.prototype.hasOwnProperty.call(this.raw.moSteps, item.cms_id)){
                    console.debug('Need to fetch MO steps for CMS ID ' + item.cms_id);
                    // making the nested object reactive - so that the data shows up when it becomes available.
                    this.$set(this.raw.moSteps, item.cms_id, []);
                    Ajax.getMoSteps(item.cms_id, this.year, this.setStepsData);
                }
            },
            newSubmitted: function(formData){
                Ajax.postMoStep(formData.cmsId, formData.year, formData.status, this.newMoStepCreationSuccess, this.newMoStepCreationFailure);
            },
            newMoStepCreationSuccess: function(newStep){
                this.$refs.newEntryDialog.handleSuccess('Data saved successfully!');
                this.raw.moSteps[newStep.cms_id] = this.raw.moSteps[newStep.cms_id] || [];
                this.raw.moSteps[newStep.cms_id].push(newStep);
                var compo = this;
                Ajax.getMoList(this.year, null, null, newStep.cms_id, function(data){
                    var newRow = data[0];
                    var currentIdx = compo.raw.moList.findIndex(v => v.cms_id == newRow.cms_id);
                    if (currentIdx > -1){
                        console.debug('Replacing existing row in MO raw data');
                        compo.raw.moList[currentIdx] = newRow;
                    } else {
                        console.debug('Adding a new row to MO raw data');
                        compo.raw.moList.push(newRow);
                    }
                });
            },
            newMoStepCreationFailure: function(request, status, error){
                this.$refs.newEntryDialog.handleFailure(request, null);
            }
        },
        mounted: function(){
            this.init();
        }
    }
</script>