<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Manage Notes</template>


            <template v-slot:body>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-card height="100%" pa-3>
                            <v-card-title primary class="title">Change submitter</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <!-- Use the generic ajax picker for choosing the note -->
                                <picker
                                    v-model="newSubmitter.noteId"
                                    :queryEndpoint="noteInfoEndpoint"
                                    itemText="label"
                                    itemValue="id"
                                    :itemFormatFunction="function(item){return {
                                        id: item.id, 
                                        label: '[' + (item.id.cmsNoteId || 'No CMS Note ID')+ ' / ' + (item.id.processId > 0 ? item.id.processId : 'no process') + '] ' + item.title}
                                    }"
                                >
                                </picker>
                                <!-- Person search field -->
                                <person-picker v-model='newSubmitter.cmsId'></person-picker>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn @click="setNewSubmitter">Apply</v-btn>
                            </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </template>



        </base-page>
    </div>
</template>

<script>
    import Ajax from '../utils/Ajax.js'
    import AjaxCalls from '../utils/AjaxCalls.js'
    import VuetifyPage from '../components/VuetifyPage.vue'
    import VuetifyTable from '../components/VuetifyTable.vue'
    import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
    import VuetifyAjaxPicker from '../components/VuetifyAjaxPicker.vue'

    export default {
        name: 'NotesAdmin',
        components: {
            'base-page': VuetifyPage,
            'data-table': VuetifyTable,
            'person-picker': VuetifyPersonPicker,
            'picker': VuetifyAjaxPicker
        },
        data: function(){
            return {
                newSubmitter: {
                    noteId: null,
                    cmsId: null,
                }
            };
        },
        computed: {
            noteInfoEndpoint: function(){
                return new AjaxCalls.LegacyNoteStatusesCall().getEndpoint();
            }
        },
        methods: {
            setNewSubmitter: function(){
                new AjaxCalls.LegacyNotesSetSubmitter().setCmsId(this.newSubmitter.cmsId).setCmsNoteId(this.newSubmitter.noteId.cmsNoteId).put()
            }
        }
    }

</script>

