<script>
import GenericTable from '../mixins/GenericTable.vue'
import Ajax from '../utils/Ajax.js';

export default {
    name: 'OpenAuthorLists',
    mixins: [GenericTable],
    props: {
        dataTable: {default: true, type: Boolean},
        columnsOrder: {type: Array, default: function(){return [
            'opened_on', 'al_status', 'code', 'cadi_status'
        ]}},
        headers: {type: Object, default: function(){return {
            'code': 'Code', 'opened_on': 'Opened on', 'cadi_status': 'CADI Status', 'al_status': 'AL Status'
        }}}
    },
    methods: {
        refetch: function(){
            Ajax.getAuthorListsInfo(null, 'open', this.dataSuccess);
        }
    },
    computed: {
        title: function(){return 'Open Author Lists'}
    }

}
</script>

<style>

</style>
