<template>
    <div>
        <base-page>
                <template v-slot:toolbar-left>
                    <v-menu bottom right :close-on-content-click="false" v-model="showUnitsMenu">
                        <template v-slot:activator="{ on }">
                            <v-icon v-on="on">menu</v-icon>
                        </template>
                        <v-card max-height="650" min-width="400" style="overflow-y: auto">
                            <v-card-title>
                                <v-text-field v-model="searchUnit" label="Search for a unit" hide-details clearable clear-icon="clear"></v-text-field>
                            </v-card-title>
                            <v-card-text>
                                <v-treeview v-model="tree" :search="searchUnit" :open-on-click="true" activatable :items="unitsTree">
                                    <template v-slot:label='{item}'>
                                        <span v-on:click="pickUnit(item.id)">{{item.name}}</span>
                                    </template>
                                </v-treeview>
                            </v-card-text>
                            <v-card-actions v-if="canAddUnits">
                                <v-spacer></v-spacer>
                                <v-btn text @click="$router.push({name: 'org-positions'});"><v-icon>event_seat</v-icon> Positions</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn text @click="$router.push({name: 'exofficio-mandates'});"><v-icon>extension</v-icon> Ex-Officio Rules</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                    <v-icon v-if="parentUnitId" @click="goToParent">arrow_upward</v-icon>
                    <v-icon v-else></v-icon>
                </template>
                <template v-slot:toolbar-title>{{title}}</template>
                <template v-slot:toolbar-right>
                    
                    <v-icon v-if="canEdit" @click="summonUnitEditor(selectedUnitId)">edit</v-icon>
                    <v-icon v-else></v-icon>

                    <v-icon v-if="canAddUnits" @click="summonUnitEditor(null)">add</v-icon>
                    <v-icon v-else></v-icon>

                    <v-icon v-if="canEdit" @click="summonTenureEditor(null)">person_add</v-icon>
                    <v-icon v-else></v-icon>
                </template>
                <template v-slot:header>
                    <tenures-filter ref="filter" @change="onFilterChange"></tenures-filter>    
                </template>
                <template v-slot:body>
                    <v-data-table 
                        :headers="headers" 
                        :items="filteredTenures" 
                        :search="search" 
                        :footer-props="{'items-per-page-options': [-1]}" 
                    >
                            <template v-if="canEdit" v-slot:[`item.actions`]="props">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn v-if="props.item.ex_officio_rule_id != null" text icon color="red" @click.stop="summonTenureEditor(props.item.id);">!<v-icon v-on="on">edit</v-icon></v-btn>
                                        <v-btn v-else text icon @click.stop="summonTenureEditor(props.item.id);"><v-icon v-on="on">edit</v-icon></v-btn>
                                    </template>
                                    <span v-if="props.item.ex_officio_rule_id != null">Edit source tenure data (this entry appears here because it matches an active ex-officio rule).</span>
                                    <span v-else>Edit tenure data.</span>
                                </v-tooltip>
                                
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn v-if="props.item.ex_officio_rule_id != null && canDeleteTenures" text icon @click.stop="summonRuleEditor(props.item.ex_officio_rule_id)"><v-icon v-on="on">extension</v-icon></v-btn>
                                    </template>
                                    <span>Edit corresponding ex-officio rule.</span>
                                </v-tooltip>
                                <v-tooltip top v-if="canDeleteTenures">
                                    <template v-slot:activator="{ on }">
                                        <v-btn v-on="on" v-if="props.item.ex_officio_rule_id != null" text icon color="red" @click.stop="markTenureForDeletion(props.item);">!<v-icon>delete</v-icon></v-btn>
                                        <v-btn v-on="on" v-else text icon @click.stop="markTenureForDeletion(props.item);"><v-icon v-on="on">delete</v-icon></v-btn>
                                    </template>
                                    <span v-if="props.item.ex_officio_rule_id != null">Remove source tenure data (this entry appears here because it matches an active ex-officio rule).</span>
                                    <span v-else>Remove tenure data.</span>
                                </v-tooltip>
                        </template>
                    </v-data-table>
                </template>
                <template v-slot:actions>
                </template>
        </base-page>

        <tenure-editor v-if="canEdit" ref="tenureEditor" @updated="afterTenureSaved" :value="editedTenureId">
            <template v-slot:activator="{on}"><p></p></template>
        </tenure-editor>
        <unit-editor v-if="canEdit" ref="unitEditor" :value="editedUnitId" @updated="afterUnitSaved">
            <template v-slot:activator="{on}"><p></p></template>
        </unit-editor>
        <rule-editor v-if="canEdit" ref="ruleEditor" :value="editedRuleId" @updated="afterRuleSaved">
            <template v-slot:activator="{on}"><p></p></template>
        </rule-editor>
        <confirm-dialog ref="confirmDeleteTenure" @confirmed="deleteMarkedTenure">
            <template v-slot:title>Are you sure?</template>
            <template v-if="tenureForDeletion != null" v-slot:message>You are about to delete the tenure of {{tenureDesc(tenureForDeletion)}}.</template>
        </confirm-dialog>
    </div>
</template>

<script>
import Ajax from '../utils/Ajax.js';
import VuetifyPage from '../components/VuetifyPage.vue'
import OrgUnitEditor from '../components/OrgUnitEditor.vue'
import TenureEditor from '../components/TenureEditor.vue'
import VuetifyConfirmDialog from '../components/VuetifyConfirmDialog.vue'
import ExOfficioEditor from '../components/ExOfficioEditor.vue'
import TenuresFilter from '../components/TenuresFilter.vue'

export default {
    name: 'OrgChart',
    components: {
        'base-page': VuetifyPage,
        'unit-editor': OrgUnitEditor,
        'tenure-editor': TenureEditor,
        'confirm-dialog': VuetifyConfirmDialog,
        'rule-editor': ExOfficioEditor,
        'tenures-filter': TenuresFilter,
    },
    data: function(){
        return {
            tree: [],
            units: [],
            selectedUnitId: null,
            tenures: [],
            childUnits: [],
            parentUnit: null,
            searchUnit: null,
            showUnitsMenu: false,
            //
            editedTenureId: null,
            editedUnitId: null,
            editedRuleId: null,
            // whole tenure object, not just IDs
            tenureForDeletion: null,
            // filtering details
            effectiveDate: new Date().toISOString().substring(0, 10),
            includeExOfficio: true,
            search: '',
        };
    },
    computed: {
        computedTenures: function(){
            var tenures = [];
            var scoreSet = new Set();
            this.tenures.forEach(t => {
                tenures.push(t);
                var score = 0;
                var keys = ['unit_level', 'unit_type', 'position_level', 'src_unit_level', 'src_unit_type', 'src_unit_id', 'src_position_level'];
                var order = 100;
                keys.forEach((key) => {
                    var subscore = 0;
                    if (typeof(t[key]) == 'number'){
                        subscore = t[key] % order;
                    } else if (typeof(t[key]) == 'string'){
                        subscore = t[key].split('').reduce(((prev, current, idx) => ((prev + current.charCodeAt(0) * idx) % order)), 0);
                    }
                    score = order * score + subscore;
                });
                tenures[tenures.length - 1]['sort_score'] = score;
                scoreSet.add(score);
                tenures[tenures.length - 1]['unit_name'] = t.domain + ' ' + t.unit_type;
            })
            var sortedScores = [...scoreSet].sort();
            tenures.forEach(t => {
                t['sort_score'] = 1 + sortedScores.findIndex(e => e == t['sort_score']);
            });
            return tenures;
        },
        filteredTenures: function(){
            var tenures = [];
            this.computedTenures.forEach((tnr) => {
                var include = true;
                if (!this.includeExOfficio && tnr['ex_officio_rule_id'] !== null){
                    include = false;
                }
                if (include){
                    tenures.push(tnr);
                }
            });
            return tenures;
        },
        title: function(){
            return "CMS Units: " + (this.selectedUnitId == null ? " Overview" : (this.chosenUnit.domain + ' ' + this.chosenUnit.type));
        },
        unitsTree: function(){
            // mapping between unitId and a treeNode - to quickly attach to a parent
            var lkp = [];
            var unitsArray = [];
            this.units.forEach(e => {
                lkp[e.id] = {id: e.id, name: e.domain + ' ' + e.type, children: []};
            });
            // doing double-pass as a child might come up before the parent in original list
            [...this.units].sort((a, b) => (10000 * (a.level - b.level) + 100 * a.type.localeCompare(b.type) + a.domain.localeCompare(b.domain))).forEach((e, idx) => {
                if (e.superior_unit_id == null){
                    unitsArray.push(lkp[e.id]);
                } else {
                    lkp[e.superior_unit_id].children.push(lkp[e.id]);
                }
            });
            return unitsArray;
        },
        chosenUnit: function(){
            return this.units.find(u => u.id == this.selectedUnitId);
        },
        parentUnitId: function(){
            return this.chosenUnit != null ? this.chosenUnit.superior_unit_id : null;
        },
        parentUnitLabel: function(){
            return this.unitOptions.find(u => u.id == this.parentUnitId).label;
        },
        managedUnitIds: function(){
            return this.$store.state.tenures.filter(t => t.position_level <= 1).map(t => t.unit_id);
        },
        headers: function(){
            var headers = [
                    {text: 'Sort order', value: 'sort_score', sortable: true},
                    {text: 'CMS ID', value: 'cms_id', sortable: true},
                    {text: 'First name', value: 'first_name', sortable: true},
                    {text: 'Last name', value: 'last_name', sortable: true},
                    {text: 'Inst code', value: 'inst_code', sortable: true},
                    {text: 'Position', value: 'position', sortable: true},
                    {text: 'Unit', value: 'unit_name', sortable: true},
                    {text: 'Start date', value: 'start_date', sortable: true},
                    {text: 'End date', value: 'end_date', sortable: true},
                ];
            if (this.canEdit){
                headers.push({text: 'Actions', value: 'actions'});
            }
            return headers;
        },
        canEdit: function(){
            if (this.chosenUnit){
                return this.managedUnitIds.includes(this.chosenUnit.id) || this.managedUnitIds.includes(this.chosenUnit.superior_unit_id) || this.canAddUnits;
            }
            return false;
        },
        canAddUnits: function(){
            var flags = this.$store.state.userInfo.flags;
            return flags != null && flags != 'undefined' && flags.includes('ICMS_rootsecr');
        },
        canDeleteTenures: function(){
            return this.canAddUnits;
        }
    },
    watch: {
        selectedUnitId: function(){
            this.loadTenuresForUnit();
        },
        effectiveDate: function(){
            console.debug('Effective date changed');
            this.loadTenuresForUnit();
        }
    },
    methods: {
        onFilterChange: function(data){
            console.debug(data);
            this.effectiveDate = data.date;
            this.includeExOfficio = data.exOfficio;
            this.search = data.search;
        },
        pickUnit: function(unitId){
            this.selectedUnitId = unitId;
            this.showUnitsMenu = false;
        },
        goToParent: function(){
            this.selectedUnitId = this.parentUnitId;
        },
        loadActiveUnits: function(){
            var compo = this;
            Ajax.getOrgUnits(null, null, true, function(data){
                compo.units = data.sort(function(a, b){
                    return 10 * (a.level - b.level) + (a.superior_unit_id == null ? 0 : 1) - (b.superior_unit_id == null ? 0 : 1)
                });
                console.debug("List of active units updated");
                compo.selectedUnitId = data[0].id;
            }, 0, 7);
        },
        loadTenuresForUnit: function(){
            var compo = this;
            Ajax.getTenures(function(data){
                compo.tenures = data.sort(function(a, b){
                    return 10 * (a.unit_level - b.unit_level) + (a.position_level - b.position_level);
                });
            }, [], this.effectiveDate, [], [], [this.selectedUnitId]);
        },
        afterUnitSaved: function(unitData){
            console.debug('Need to update our units info');
            console.debug(unitData);
            var index = this.units.findIndex(e => e.id == unitData.id);
            if (index > -1){
                this.$set(this.units, index, unitData);
            } else {
                this.$set(this.units, this.units.length, unitData);
            }
            this.$refs.tenureEditor.updateUnit(unitData);
        },
        afterTenureSaved: function(tenureData){
            console.debug(tenureData);
            var index = this.tenures.findIndex(e => e.id == tenureData.id);
            this.$set(this.tenures, index > -1 ? index : this.tenures.length, tenureData);
        },
        afterRuleSaved: function(someData){
            console.debug('We probably should reload the page...');
            this.loadTenuresForUnit();
        },
        summonTenureEditor: function(tenureId){
            // we set the edited tenureId and (ab?)use the binding established earlier to re-use the same component for all the editions we might want to makes
            if (tenureId == null){
                // when editing an existing tenure, just setting the tenure ID should be enough. Also, it might be an ex-officio tenure and then the source unit should show up
                this.$refs.tenureEditor.unitId = this.selectedUnitId;
            }
            this.editedTenureId = tenureId;
            this.$refs.tenureEditor.show();
        },
        summonUnitEditor: function(unitId){
            this.editedUnitId = unitId;
            this.$refs.unitEditor.show();
        },
        summonRuleEditor: function(ruleId){
            this.editedRuleId = ruleId;
            this.$refs.ruleEditor.show();
        },
        markTenureForDeletion: function(tenureData){
            this.tenureForDeletion = tenureData;
            this.$refs.confirmDeleteTenure.show();
        },
        deleteMarkedTenure: function(){
            var compo = this;
            Ajax.deleteTenure(this.tenureForDeletion.id, function(data){
                compo.tenures = compo.tenures.filter(e => e.id != compo.tenureForDeletion.id);
                compo.$store.commit('infoMessage', 'Removed the tenure of ' + compo.tenureDesc(compo.tenureForDeletion) + '!');
                compo.tenureForDeletion = null;
            });
        },
        tenureDesc: function(tenure){
            return tenure.first_name + ' ' + tenure.last_name + ' as ' + tenure.position + ' of ' + tenure.domain + ' ' + tenure.unit_type+ ' starting on ' + tenure.start_date
        }
    },
    mounted: function(){
        this.loadActiveUnits();
    }
}
</script>

<style>

</style>
