<template>
    <div>
        <base-page>
            <template v-slot:toolbar-left></template>
            <template v-slot:toolbar-title>CMS Positions</template>
            <template v-slot:toolbar-right>
                <v-icon v-if="canEdit" @click="summonEditor(null)">add</v-icon>
            </template>
            <template v-slot:header>
                <v-text-field v-model="searchTerm" append-icon="search" label="Search" single-line hide-details></v-text-field>
            </template>
            <template v-slot:body>
                <v-data-table 
                    :search="searchTerm" 
                    :items="positions" 
                    :headers="headers" 
                    :footer-props="{'items-per-page-options': [-1]}" 
                >
                    <template v-if="canEdit" v-slot:[`item.actions`]={item}>
                        <v-icon @click="summonEditor(item.id)">edit</v-icon>
                    </template>
                </v-data-table>
            </template>
            <template v-slot:actions></template>
        </base-page>
        <editor ref="editor" :value="editedId" @updated="afterPositionSaved">
            <template v-slot:activator><p></p></template>
        </editor>
    </div>
</template>
<script>

import Ajax from '../utils/Ajax.js';
    import VuetifyPage from '../components/VuetifyPage.vue';
    import OrgPositionEditor from '../components/OrgPositionEditor.vue';

    export default {
        name:   'ExOfficioMandates',
        components: {
            'base-page': VuetifyPage,
            'editor': OrgPositionEditor,
        },
        data: function(){
            return {
                searchTerm: null,
                positions: [],
                //
                editedId: null,
            };
        },
        computed: {
            canEdit: function(){
                var flags = this.$store.state.userInfo.flags;
                return flags != null && flags != 'undefined' && flags.includes('ICMS_rootsecr');
            },
            headers: function(){
                var headers = [
                    {text: 'Name', value: 'name'},
                    {text: 'Unit type', value: 'unit_type'},
                    {text: 'Position level', value: 'level'},
                    {text: 'Is active', value: 'is_active'}
                ];
                if (this.canEdit){
                    headers.push({text: 'Actions', value: 'actions'})
                }
                return headers;
            },
        },
        methods: {
            loadUnitTypes: function(){
                Ajax.getOrgUnitTypes(null, null, null, this.storeUnitTypes);
            },
            loadPositions: function(){
                Ajax.getPositions(this.storePositions);
            },
            storeUnitTypes: function(data){
                this.unitTypes = data;
            },
            storePositions: function(data){
                this.positions = data;
            },
            summonEditor: function(positionId){
                console.debug('About to launch editor for unit id: ' + positionId);
                this.editedId = positionId;
                this.$refs.editor.show();
            },
            afterPositionSaved: function(positionData){
                var idx = this.positions.findIndex(e => e.id == positionData.id);
                this.$set(this.positions, idx > -1 ? idx : this.positions.length, positionData);
            }
        },
        mounted: function(){
            this.loadPositions();
            this.loadUnitTypes();
        }
    }
</script>