<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Pending Authors</template>
            <template v-slot:toolbar-right>
                <v-icon medium style="cursor: pointer;" @click.stop="isInfoDialogOpen = true">info</v-icon>
            </template>
            <template v-slot:header>
                <v-container class="text-center" fluid style="padding:0">
                    <v-row align="center">
                        <v-col cols="2" v-if="instituteSelectIsVisible">
                            <v-autocomplete 
                                v-model="institute"
                                :items="instituteOptions"
                                :clearable='true'
                                label="Institute"
                                placeholder="All institutes"
                                class="mr-2"
                            />
                        </v-col>
                        <v-spacer />
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange" />
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="tableData" 
                    :loading="loading"
                    :search="search" 
                >
                    <template v-slot:item="props">
                        <tr class="text-left table-padding"> 
                            <td class="px-1"> {{props.item.cmsId}} </td>
                            <td class="px-1"> {{props.item.lastName}} </td>
                            <td class="px-1"> {{props.item.firstName}} </td>
                            <td class="px-1"> {{props.item.instCode}} </td>
                            <td class="px-1"> {{props.item.activityName}} </td>
                            <td class="px-1"> {{props.item.moFullfilled}} </td>
                            <td class="px-1"> {{props.item.isAuthorBlock}} </td>
                            <td class="px-1">
                                <v-menu bottom left>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            icon
                                            v-on="on"
                                        >
                                            <v-icon>more_vert</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-list>
                                        <v-list-item>
                                            <v-list-item-title @click="summonConfirmationDialog(props.item.cmsId, 'admit')">{{
                                                props.item.moFullfilled === 'OK' 
                                                ? 'Allow signing' 
                                                : 'Set awaiting MO'
                                            }}</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-title @click="summonConfirmationDialog(props.item.cmsId, 'freeze')">
                                                Put on hold
                                            </v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </td>
                        </tr>
                    </template>
                </data-table>
            </template>
        </base-page>
        <confirmation-dialog 
            v-model="isConfirmationDialogOpen" 
            :person="selectedPerson" 
            :action="selectedAction" 
            @actioncompleted="onStatusUpdate"
        />
        <v-dialog v-model="isInfoDialogOpen" maxWidth="600px">
            <v-card>
                <v-card-title class="headline">Details</v-card-title>
                <v-card-text>
                    <p> 
                        This page allows Institute Leaders to take action upon members of their institute who have met the EPR requirements to become authors.
                        <br><br>
                        Until now, the signing rights of members listed below have been blocked.
                        Now the block is to be lifted which, in case all other requirements are fulfilled,
                        will result in adding the members to CMS Author List. <br>
                        At this stage, the following options are available:
                        </p><ul>
                            <li><i>Allow signing</i> - grants signing rights.</li>
                            <li><i>Set awaiting MO</i> - (shows only when M&amp;O condition is not satisfied) sets the member as ready for
                                authorship but they will only obtain their signing rights when M&amp;O requirement is met.</li>
                            <li><i>Put on hold</i> - sets <code>MISC_authorno</code> flag for the member, effectively "freezing" their
                                authorship rights until the flag is removed. The flags can be managed <a href="/tools/al/memberAuthors">there</a>.</li>
                            <li><i>Decide later</i> - equivalent to no input, no information will be stored.</li>
                        </ul>
                        Please note that CMS signing rights are determined daily. Any changes made to the flags may therefore take up to 24h to become effective.
                        <br>
                        Any <em>changes</em> will only be <em>saved upon pressing</em> the green <em>"Save changes"</em> button at the bottom of the page.

                        <p></p>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn
                        color="green darken-1"
                        flat="flat"
                        @click="isInfoDialogOpen = false"
                    >
                        Got It
                    </v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
    </div>
</template>

<script>
import VuetifyPage from '../components/VuetifyPage.vue';
import VuetifyTable from '../components/VuetifyTable.vue';
import PendingAuthorConfirmationDialog from '../components/PendingAuthorConfirmationDialog.vue'
import instituteSelectMixin from '../mixins/instituteSelectMixin'
import AjaxCalls from '../utils/AjaxCalls';

export default {
    name: 'PendingAuthors',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'confirmation-dialog': PendingAuthorConfirmationDialog
    },
    mixins: [instituteSelectMixin],
    data(){
        return {
            data: [],
            loading: false,

            search: '',

            isConfirmationDialogOpen: false,
            selectedPerson: null,
            selectedAction: null,

            isInfoDialogOpen: false
        };
    },
    computed: {
        headers(){
            return [
                {text: 'CMD ID', value: 'cmsId', sortable: true},
                {text: 'Last Name', value: 'lastName', sortable: true},
                {text: 'First Name', value: 'firstName', sortable: true},
                {text: 'Institue', value: 'instCode', sortable: true},
                {text: `Activity`, value: 'activityName', sortable: true},
                {text: `M&O`, value: 'moFullfilled', sortable: true},
                {text: 'Blocked', value: 'isAuthorBlock', sortable: true},
                {text: 'Actions', value: 'actions', sortable: false},
            ]
        },
        tableData(){
            let tableData = this.data;
            
            if(this.institute){
                tableData = tableData.filter(row => row.instCode == this.institute)
            }
            
            return tableData.map(row => Object.assign({}, row, {
                    moFullfilled: row.moFullfilled ? 'OK' : 'Missing',
                    isAuthorBlock: row.isAuthorBlock ? 'YES' : 'NO',
                })
            )
        }
    },
    watch:{
        data(value){
            this.createInstituteOptions(value)
        }
    },
    methods: {
        loadData(){
            this.loading = true;
            new AjaxCalls.PendingAuthorsCall()
                .setSuccessCallback(data => {
                    this.data = data;
                    this.loading = false;
                })
                .get();
        },
        summonConfirmationDialog(cmsId, action){
            const person = this.data.find(p => p.cmsId === cmsId);
            this.selectedPerson = person;
            this.selectedAction = action;
            this.isConfirmationDialogOpen = true;
        },
        onStatusUpdate(cmsId){
            // Remove the person from the list
            this.data = this.data.filter(d => d.cmsId !== cmsId);
        }
    },
    mounted(){
        this.loadData();
    }
}
</script>