<template>
    <base-page>
        <template v-slot:toolbar-title>CMS People</template>    
        <template v-slot:header>
            <v-row class="mb-4"> 
                <v-col cols="3">
                    <v-select v-model="statuses" :items="knownStatuses" label="CMS Statuses" multiple> </v-select>
                </v-col>
                <v-col cols="3">
                    <v-select v-model="projects" :items="knownProjects" label="Projects" multiple></v-select>
                </v-col>
                <v-col cols="2">
                    <v-select v-model="authorFlags" :items="knownAuthorFlags" label="Authorship statuses" multiple> </v-select>
                </v-col>
                <v-col cols="2">
                    <v-text-field v-model="search" append-icon="search" label="Search"> </v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-switch v-model="includeLdapInfo" label="Extended information"></v-switch>
                </v-col>
            </v-row>
        </template>                
        <template v-slot:body>
            <data-table 
                :no-autoformat="true" 
                :headers="headers" 
                :items="dataProxy" 
                :search="search" 
                :options="tableOrdering" 
            />
        </template>
        <template v-slot:actions>
        </template>
    </base-page>
</template>

<script>

import Ajax from '../utils/Ajax.js'
import VuetifyPage from '../components/VuetifyPage.vue'
import VuetifyTable from '../components/VuetifyTable.vue'

export default {
    name: 'People',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
    },
    props:         
        {
            filterAuthor: null,
            filterStatus: null,
        },
    data: function(){
        return {
            people: [],
            ldapData: [],
            projects: [],
            authorFlags: [],
            statuses: ['CMS'],
            search: '',
            updateTicket: null,
            knownProjects: [],
            knownStatuses: [],
            knownAuthorFlags: [true, false],
            includeLdapInfo: false,
            tableOrdering: {
                sortBy: ['cmsId'], sortDesc: [false],
            },
        };
    },
    computed: {
        ldapMap: function(){
            var ldapInfo = {};
            this.ldapData.forEach(e => {ldapInfo[e.hr_id] = e});
            return ldapInfo;
        },
        dataProxy: function(){
            var ans = [];
            var compo = this;
            this.people.forEach(e => {
                if (this.includeLdapInfo){
                    // warning: the code below modifies original data - no harm here though
                    var ldapEntry = compo.ldapMap[e.hrId];
                    // console.debug(ldapEntry);
                    e.office = ldapEntry != null ? ldapEntry.office : null;
                }
                ans.push(e);
            });
            return ans;
        },
        headers: function(){
            var headers = [
                {text: 'CMS ID', value: 'cmsId', sortable: true},
                {text: 'Last name', value: 'lastName', sortable: true},
                {text: 'First name', value: 'firstName', sortable: true},
                {text: 'Institute', value: 'instCode', sortable: true},
                {text: 'Inst. country', value: 'country', sortable: true},
                {text: 'Authorship', value: 'isAuthor', sortable: true},
                {text: 'Status', value: 'status', sortable: true},
                {text: 'Activity', value: 'activity', sortable: true},
                {text: 'Project', value: 'project', sortable: true},
                // {text: 'Gender', value: 'gender', sortable: true}
            ];
            if (this.includeLdapInfo){
                headers.push({text: 'MO ' + (new Date().getFullYear() - 0), value: 'mo' + (new Date().getFullYear() - 0), sortable: true});
                headers.push({text: '% at CERN', value: 'localPercent', sortable: true});
                headers.push({text: 'Office ', value: 'office', sortable: true});
            }
            return headers;
        },
    },
    mounted: function(){
        if (this.filterAuthor instanceof Array){
            console.debug('Pre-setting the author filter to ' + this.filterAuthor);
            this.authorFlags = this.filterAuthor;
        }
        if (this.filterStatus instanceof Array){
            console.debug('Pre-setting the status filter to ' + this.filterStatus);
            this.statuses = this.filterStatus;
        }
        var compo = this;
        Ajax.getKnownProjects(function(data){
            compo.knownProjects = data;
        });
        Ajax.getKnownPersonStatuses(function(data){
            compo.knownStatuses = data;
        });
        this.requestUpdate();
        if (this.includeLdapInfo){
            Ajax.getUsersLiteLdapInfo(this.setLdapData);
        }
    },

    watch: {
        projects: function(){
            this.scheduleUpdate();
        },
        statuses: function(){
            this.scheduleUpdate();
        },
        authorFlags: function(){
            this.scheduleUpdate();
        },
        includeLdapInfo: function(){
            if (this.includeLdapInfo && (this.ldapData || []).length == 0){
                Ajax.getUsersLiteLdapInfo(this.setLdapData);
            }
        }
    },

    methods:{
        scheduleUpdate(){
            if (this.updateTicket != null){
                console.debug('Clearing timeout...');
                clearTimeout(this.updateTicket);
                this.updateTicket = null;
            }
            console.debug('setting timeout');
            var component = this;
            this.updateTicket = setTimeout(function(){component.requestUpdate()}, 366);
        },

        requestUpdate(){
            console.debug('Requesting update from the server');
            Ajax.getPeopleData(this.setPeopleData, this.statuses, this.projects, this.authorFlags.length > 0 ? this.authorFlags : [true, false]);
        },

        setPeopleData(data){
            this.people = data;
        },

        setLdapData(data){
            console.debug('Got the info from LDAP');
            this.ldapData = data;
        }
    }

}
</script>


<style>

</style>
