<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Permissions Management</template>
            <template v-slot:header>
                <div class="pr-2">
                    <edit-dialog v-model="dialogs.resources" ref='resourcesEditor' @reset="resetResourceForm" @submit="submitResourceData">
                    <template v-slot:button-label>New Resource</template>
                    <template v-slot:header>Resources Editor</template>
                    <template v-slot:fields>
                        <v-autocomplete v-model="editors.resources.key" label="Route" :items="Object.values(routes)" item-value="rule" item-text="rule" clearable></v-autocomplete>
                        <v-text-field v-model="editors.resources.filters" label="Filters" clearable></v-text-field>
                    </template>             
                </edit-dialog>
                </div>
                <div class='pr-2'>
                    <edit-dialog v-model="dialogs.classes" ref='classesEditor' @reset="resetClassForm" @submit="submitClassData">
                    <template v-slot:button-label>New Access Class</template>
                    <template v-slot:header>Access Classes Editor</template>
                    <template v-slot:fields>
                        <v-text-field v-model="editors.classes.name" label="Name" clearable></v-text-field>
                        <v-text-field v-model="editors.classes.rules" label="Rules" clearable></v-text-field>
                    </template>             
                </edit-dialog>
                </div>
                <div class='pr-2'>
                    <edit-dialog v-model="dialogs.permissions" ref='permissionsEditor' @reset="resetPermissionForm" @submit="submitPermissionData">
                    <template v-slot:button-label>New Permission</template>
                    <template v-slot:header>Permissions Editor</template>
                    <template v-slot:fields>
                        <v-autocomplete v-model="editors.permissions.resource_id" label="Resource" :items="Object.values(resources)" item-value="id" item-text="key" clearable></v-autocomplete>
                        <v-autocomplete v-model="editors.permissions.access_class_id" label="Access Class" :items="Object.values(classes)" item-value="id" item-text="name" clearable></v-autocomplete>
                        <v-select label="Method" v-model="editors.permissions.action" :items="actionOptions" item-value='value' item-text='label' clearable></v-select>
                    </template>             
                </edit-dialog>
                </div>

                <v-select label="Type of item to edit" v-model="activeEditorType" :items="Object.keys(editors).map(e=>({v: e}))" item-text='v' item-value='v' clearable class="pr-2"></v-select>
                <v-select label="Item to edit" :items="editableOptions" item-text='l' item-value='v' clearable @change="activateEditor"></v-select>

            </template>
            <template v-slot:body>
                <data-table :headers="headers" :items="tableRows" :rows-per-page-items=[-1] />
            </template>
        </base-page>
    </div>
</template>

<script>

import Ajax from '../utils/Ajax.js'
    import Calls from '../utils/AjaxCalls.js'
    import VuetifyPage from '../components/VuetifyPage.vue'
    import VuetifyTable from '../components/VuetifyTable.vue'
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue'

    export default {
        name: 'Permissions',
        components: {
            'base-page': VuetifyPage,
            'data-table': VuetifyTable,
            'edit-dialog': VuetifyEditDialog,
        },
        data: function(){
            return {
                routes: {},
                resources: {},
                classes: {},
                permissions: {},
                stores: {},
                editors: {
                    permissions: {
                        id: null,
                        action: null,
                        resource_id: null,
                        access_class_id: null,
                    },
                    resources: {
                        id: null,
                        key: null,
                        filters: '{}',
                    },
                    classes: {
                        id: null,
                        name: null,
                        rules: '[]',
                    }
                },
                activeEditorType: null,
                dialogs: {
                    resources: false,
                    classes: false,
                    permissions: false,
                }
            }
        },
        computed: {
            headers: function(){
                return [
                    {text: 'Route', value: 'route'},
                    {text: 'Filters', value: 'filters'},
                    {text: 'Action', value:'action'},
                    {text: 'Access Class Name', value: 'access_class_name'},
                    {text: 'Access Class Rules', value: 'access_class_rules'},
                ];
            },
            tableRows: function(){
                var stuff = [];
                var compo = this;
                Object.keys(this.permissions).forEach(key => {
                    var element = compo.permissions[key];
                    var resource = compo.resources[element.resource_id];
                    var access_class = compo.classes[element.access_class_id];
                    var entry = {
                        action: element.action,
                        route: resource.key,
                        filters: JSON.stringify(resource.filters),
                        access_class_name: access_class.name,
                        access_class_rules: JSON.stringify(access_class.rules),
                    };
                    stuff.push(entry);
                });
                return stuff;
            },
            actionOptions: function(){
                var actions = []
                if (this.editors.permissions.resource_id !== null){
                    var resource = this.resources[this.editors.permissions.resource_id];
                    var route = this.routes[resource.key];
                    var methodActionMap = {'GET': 'read', 'DELETE': 'delete', 'PUT': 'write', 'POST': 'write', 'PATCH': 'write'};
                    route.methods.forEach(e=>{
                        if (methodActionMap.hasOwnProperty(e.toUpperCase())){
                            actions.push({label: e, value: methodActionMap[e.toUpperCase()]});
                        }
                    });
                }
                return actions;
            },
            editableOptions: function(){
                var editables = [];
                if (this.activeEditorType !== null){ 
                    var pool = Object.values(this[this.activeEditorType]);
                    pool.forEach(e => {
                        editables.push({v: e.id, l: e.hasOwnProperty('name') ? e.name : (e.hasOwnProperty('key') ? e.key : e.id)});
                    })
                }
                return editables;
            }
        },
        methods:{
            requestData: function(){
                var compo = this;
                new Calls.RoutesCall().setSuccessCallback(function(data){compo.storeData(data, 'routes', 'rule')}).get();
                new Calls.ResourcesCall().setSuccessCallback(function(data){compo.storeData(data, 'resources', 'id')}).get();
                new Calls.AccessClassesCall().setSuccessCallback(function(data){compo.storeData(data, 'classes', 'id')}).get();
                new Calls.AuthorizationsCall().setSuccessCallback(function(data){compo.storeData(data, 'permissions', 'id')}).get();
                new Calls.ParamStoresCall().setSuccessCallback(function(data){compo.storeData(data, 'stores', 'prefix')}).get();
            },
            storeData: function(payload, label, mapBy){
                console.debug('Got '+label+' to be mapped by ' + mapBy);
                var reduced = payload.reduce((acc, cur, idx) => {acc[cur[mapBy]]=cur; return acc;}, {});
                this.$set(this.$data, label, reduced);
                console.debug(reduced);
            },
            resetResourceForm: function(){
                this.editors.resources.id = null;
                this.editors.resources.key = null;
                this.editors.resources.filters = '{}';
            },
            submitResourceData: function(){
                var call = new Calls.ResourcesCall();
                call.setKey(this.editors.resources.key).setType('endpoint');
                call.setFilters(JSON.parse(this.editors.resources.filters));
                var compo = this;
                call.setSuccessCallback(function(data){compo.updateData(data, 'resources', 'id')})
                this.editors.resources.id !== null ? call.setId(this.editors.resources.id).put() : call.post();
            },
            resetClassForm: function(){
                this.editors.classes.id = null;
                this.editors.classes.name = null;
                this.editors.classes.rules = null;
            },
            submitClassData: function(){
                var call = new Calls.AccessClassesCall().setName(this.editors.classes.name);
                call.setRules(JSON.parse(this.editors.classes.rules));
                var handler = this.updateData;
                call.setSuccessCallback(function(data){handler(data, 'classes', 'id')});
                this.editors.classes.id !== null ? call.setId(this.editors.classes.id).put() : call.post();
            },
            resetPermissionForm: function(){
                this.editors.permissions.id = null;
                this.editors.permissions.resource_id = null;
                this.editors.permissions.access_class_id = null;
                this.editors.permissions.action = null;                
            },
            submitPermissionData: function(){
                var call = new Calls.AuthorizationsCall();
                call.setAction(this.editors.permissions.action);
                call.setAccessClassId(this.editors.permissions.access_class_id);
                call.setResourceId(this.editors.permissions.resource_id);
                var handler = this.updateData;
                call.setSuccessCallback(function(data){handler(data, 'permissions', 'id');});
                this.editors.permissions.id != null ? call.setId(this.editors.permissions.id).put() : call.post()
            },
            updateData: function(payload, label, mapBy){    
                console.debug('Received payload labelled' + label + 'for update:');
                console.debug(payload);
                // inserting returned data into the appropriate bucket
                this.$set(this.$data[label], payload[mapBy], payload);
                this.$store.commit('infoMessage', 'Entry with ID ' + payload[mapBy] + ' saved successfully and added to ' + label);
                this.$set(this.$data['dialogs'], label, false);
            },
            activateEditor: function(forId){
                this.$refs[this.activeEditorType + 'Editor'].dialog = true;
                var source = this[this.activeEditorType][forId];
                console.debug(source);
                Object.keys(this.editors[this.activeEditorType]).forEach(k => {
                    this.editors[this.activeEditorType][k] = (typeof source[k] === 'object' ? JSON.stringify(source[k]) : source[k]);
                });
            }
        },
        mounted: function(){
            this.requestData();
        }
    }
</script>

<style>

</style>