<script>
import GenericTable from '../mixins/GenericTable.vue'
import Ajax from '../utils/Ajax.js';

export default {
    name: 'PhdMoList',
    mixins: [GenericTable],
    props:{
        year: {required: false, type: String, default: function(){return String((new Date()).getFullYear())}},
        mode: {required: false, type: String, default: 'OFFICIAL'},
        dataTable: {default: true, type: Boolean},
        headers: {type: Object, default: function(){return{
            'cms_activity': 'CMS Activity',
            'mo_fa_name': 'Funding Agency',
            'mo_inst_code': 'MO Institute',
            'mo_status': 'MO Status',
            'cms_id': 'CMS ID',
            'mo_fa_country': 'FA Country',
            'last_name': 'Last Name',
            'first_name': 'First Name',
            'is_author': 'Is Author'
        };}},
        columnsOrder: {type: Array, default: function(){return [
            'mo_fa_name', 'mo_inst_code', 'last_name', 'first_name', 'cms_id', 'mo_status', 'cms_activity', 'is_author'
        ];}}
    },
    watch: {
        $route: function(val){
            this.tableData = null;
            this.refetch();
        }
    },

    mounted: function(){
        console.debug('Mouning an instance of PhdMoList with the following parameters: year='
            +this.year+', mode='+this.mode);
        this.refetch();
    },

    methods: {
        refetch: function(){
            console.debug('Fetching MO data for year ' + this.year + ' and mode ' + this.mode);
            Ajax.getPhdMoList(this.mode, this.year, this.dataSuccess);
        }
    },

    computed: {
        title: function(){return 'PHD MO list (' + this.year +', ' + this.mode + ')'}
    },
}
</script>

<style>

</style>
