<template>
    <div class='tenures-table'>
        <div v-for="tenure in tenures" :key='tenure.id'>
            {{tenure.position}} : 
            <a class="crismon-link" rel="noreferrer noopener" target="_blank" :href="`https://icms.cern.ch/tools/users/profile/${tenure.cms_id}`"> {{tenure.first_name}} {{tenure.last_name}} </a>
            <a class="crismon-link" rel="noreferrer noopener" target="_blank" :href="`https://icms.cern.ch/tools/data/instInfo/${tenure.inst_code}`"> ({{tenure.inst_code}}) </a>
            <br/>
        </div>
    </div>
</template>

<style>
    .tenures-table{
        margin-top: -11.5rem;

        font-family: NonBreakingSpaceOverride, "Crimson Text", Garamond, "Times New Roman", serif;
        font-weight: 600;
        font-size: 16px;
        
    }
    .tenures-table div{
        line-height: 1.476;
    }
    .tenures-table a{
        text-decoration: underline;
        color: #cd2653;
    }
</style>

<script>
import AjaxCalls from '../utils/AjaxCalls';
export default {
    data(){
        return {
            tenures: []
        }
    },
    methods: {
        loadTenures(){
            const {
                cms_id,
                exclude_past,
                as_of,
                domain,
                unit_type,
                unit_id,
                min_position_level,
                max_position_level
            } = this.$route.query;
            
            new AjaxCalls.TenuresCall()
                .setCmsId(cms_id)
                .setExcludePast(exclude_past)
                .setAsOf(as_of)
                .setDomain(domain)
                .setUnitType(unit_type)
                .setUnitId(unit_id)
                .setMinPositionLevel(min_position_level)
                .setMaxPositionLevel(max_position_level)
                .setSuccessCallback(data => {
                    const sortedData = data.sort((a, b) => a.position_level - b.position_level);
                    this.tenures = sortedData;
                })
                .get()
        }
    },
    mounted(){
        this.loadTenures();
    }
}
</script>