<template>
    <div>
        <v-dialog v-model="confirmDeletionDialog" persistent max-width="500">
        <v-card>
            <v-card-title class="headline">Are you sure you want to delete the tenure?</v-card-title>
            <v-card-text v-if="tenureToDelete">
                {{tenureToDelete.first_name}} {{tenureToDelete.last_name}} as {{tenureToDelete.position}} of {{tenureToDelete.domain}} {{tenureToDelete.unit_type}}, starting on {{tenureToDelete.start_date}}.
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteTenureId = null;">Cancel</v-btn>
            <v-btn color="green darken-1" text @click="deleteAfterAsking">Confirm</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
        <base-page>
            <template v-slot:toolbar-title>CMS Tenures</template>
            <template v-slot:toolbar-right>
                <div v-if="canEdit">          
                    <v-btn icon @click.stop="launchEditor"><v-icon>add_circle</v-icon></v-btn>
                    <v-dialog v-model="dialog" persistent max-width="600px">
                        <v-card>
                            <v-card-title> <span class="headline">{{editorTitle}}</span> </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row >
                                        <v-col cols="12">
                                            <person-picker ref="personPicker" label="CMS Member" v-model="editPerson" required></person-picker>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-autocomplete :items="unitOpts" :item-text="'label'" :item-value="'id'" label="Unit" v-model="editUnit" required></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-autocomplete :items="positionOpts" :item-text="'label'" :item-value="'id'" label="Position" v-model="editPosition" required ></v-autocomplete>
                                        </v-col>
                                        <v-dialog ref="dialogStartDate" v-model="modalStartDate" :return-value.sync="editStartDate" persistent lazy full-width width="290px">
                                            <template v-slot:activator="{ on }">
                                                <v-text-field v-model="editStartDate" label="Start Date" prepend-icon="event" readonly v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="editStartDate" scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="modalStartDate = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.dialogStartDate.save(editStartDate)">OK</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                        <v-dialog ref="dialogEndDate" v-model="modalEndDate" :return-value.sync="editEndDate" persistent lazy full-width width="290px" >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field v-model="editEndDate" label="End Date" prepend-icon="event" readonly v-on="on" ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="editEndDate" scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="primary" @click="modalEndDate = false">Cancel</v-btn>
                                            <v-btn text color="primary" @click="$refs.dialogEndDate.save(editEndDate)">OK</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                        <v-col cols="12" sm="6" md="6">
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                                <v-btn color="blue darken-1" text @click="postTenure">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
            </template>
            <template v-slot:header>
                <tenures-filter ref="filter" @change="onFilterChange"></tenures-filter>
            </template>
            <template v-slot:body>
                <v-data-table 
                    :headers="headers" 
                    :items="filteredTenures" 
                    :search="search" 
                    :footer-props="{'items-per-page-options': [25, 50, 200, {text: 'All', value: -1}]}" 
                >
                    <template v-slot:[`item.actions`]="props">
                            <div v-if="canEdit && props.item.ex_officio_rule_id === null">
                                <v-icon @click.stop="launchEditor(props.item.id);">edit</v-icon>
                                <v-icon @click.stop="deleteTenureId = props.item.id;">delete</v-icon>
                            </div>
                            <div v-else>
                                ex-officio
                            </div>
                    </template>
                </v-data-table>
            </template>
        </base-page>
    </div>
</template>

<script>
import Ajax from '../utils/Ajax.js'
import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
import VuetifyPage from '../components/VuetifyPage.vue'
import TenuresFilter from '../components/TenuresFilter.vue'

export default {
    name: 'Tenures',
    components: {
        'person-picker': VuetifyPersonPicker,
        'base-page': VuetifyPage,
        'tenures-filter': TenuresFilter
    },
    data: function(){
        return {
            tenures: [],
            search: '',
            userInfo: null,
            dialog: false,
            confirmDeletionDialog: false,
            modalStartDate: false,
            modalEndDate: false,
            editorTitle: 'New Tenure',
            showAsOfDate: new Date().toISOString().substring(0, 10),
            showExOfficio: true,
            modalAsOfDate: null,

            unitOpts: [],
            positionOpts: [],
            
            editTenureId: null,
            editPerson: null,
            editUnit: null,
            editPosition: null,
            editStartDate: null,
            editEndDate: null,

            deleteTenureId: null,
        }
    },
    mounted: function(){
        this.refetchTenures();
        var compo = this;
        Ajax.getCurrentUserInfo(function(data){compo.userInfo = data;});
        Ajax.getOrgChartUnits(function(data){
            compo.unitOpts = [];
            for (var i in data){
                var e = data[i];
                compo.unitOpts.push({id: e['id'], label: e['domain'] + ' ' + e['type']});
            }
        });
    },
    watch: {
        editUnit: function(value){
            console.debug('Now selected unitvalue is: ' + value);
            this.fetchCompatiblePositions();
        },
        showAsOfDate: function(value){
            console.debug('Changed the date as of to: ' + value);
            this.refetchTenures();
        },
        deleteTenureId: function(value){
            this.confirmDeletionDialog = (value != null && value > 0);
        }
    },
    methods:{
        onFilterChange: function(data){
            console.debug(data);
            this.showAsOfDate = data.date;
            this.showExOfficio = data.exOfficio;
            this.search = data.search;
        },
        refetchTenures(){
            Ajax.getTenures(this.updateData, [], this.dateAsOf);
        },
        updateData(data){
            this.tenures = data;
        },
        launchEditor(id){
            this.dialog = true;
            if (!isNaN(id) && id > 0){
                console.debug('Received id: ' + id);
                this.editTenureId = id;
                for (var idx in this.tenures){
                    // CRITICAL: make sure this is the primordial tenure (as opposed to derived through ex-officio rule), otherwise some garbage info might show up in the editor
                    if (this.tenures[idx].id == id && this.tenures[idx]['ex_officio_rule_id'] === null){
                        var tenure = this.tenures[idx];
                        console.debug("We found our tenure for id: " + id);
                        this.editPerson = tenure['cms_id'];
                        this.editUnit = tenure['unit_id'];
                        this.editPosition = tenure['position_id'];
                        this.editStartDate = tenure['start_date'];
                        this.editEndDate = tenure['end_date'];
                        this.editorTitle = 'Edit Tenure #' + id;
                        this.$refs.personPicker.fetchPersonDataForValue(tenure['cms_id']);
                        break;
                    }
                }
            } else {
                this.editTenureId = null;
                this.editorTitle = 'New Tenure'
                this.editPosition = null;
                this.editUnit = null;
                this.editEndDate = null;
                this.editStartDate = null;
                this.editPerson = null;
            }
        },
        fetchCompatiblePositions: function(){
            if (this.editUnit != null){
                var compo = this;
                Ajax.getOrgChartPositions(function(data){
                    compo.positionOpts = [];
                    for (var i in data){
                        var e = data[i];
                        compo.positionOpts.push({id: e['id'], label: e['name'] + ' of ' + e['unit_type']});
                    }
                }, Ajax.defaultFailHandler, this.editUnit);
            }
        },
        postTenure: function(){
            // submits tenure data from the editor
            Ajax.postTenure(this.postTenureCallback, this.postTenureCallback, this.editTenureId, this.editPerson, 
                this.editUnit, this.editPosition, this.editStartDate, this.editEndDate);
        },
        postTenureCallback: function(data, textStatus){
            // closes the dialog if everything went fine
            console.debug(data);
            console.debug('Returned text status is ' + textStatus);
            if (textStatus == 'success'){
                // trap the user in the dialog (showing the error should follow!)
                this.dialog = false;
                // because the API by convention will return the new (OR EDITED) object as if it was queried
                for (var idx in this.tenures){
                    if (this.tenures[idx]['id'] == data['id']){
                        this.tenures.splice(idx, 1);
                    }
                }
                this.tenures.push(data);
                this.$store.commit('infoMessage', 'Tenure information saved successfully!');
            } else {
                this.$store.commit('errorMessage', 'Error while trying to save tenure information: ' + JSON.stringify(data.responseJSON));
            }
        },
        deleteAfterAsking: function(){
            console.debug('So what do we delete actually?');
            var compo = this;
            Ajax.deleteTenure(this.deleteTenureId, function(){
                compo.tenures = compo.tenures.filter(t => (t.id != compo.deleteTenureId));
                compo.deleteTenureId = null;
                compo.$store.commit('infoMessage', 'Tenure removed successfully.');
            });
        }
    },
    computed: {
        filteredTenures: function(){
            var compo = this;
            return this.tenures.filter(t => compo.showExOfficio || [null, undefined].indexOf(t['ex_officio_rule_id']) > -1).map(t => ({
                cms_id: t.cms_id,
                first_name: t.first_name,
                last_name: t.last_name,
                inst_code: t.inst_code,
                position: t.position,
                domain: t.domain,
                start_date: t.start_date,
                end_date: t.end_date,
                id: [null, undefined].indexOf(t['ex_officio_rule_id']) > -1 ? t.id : null,
                ex_officio_rule_id: t['ex_officio_rule_id']
            }));

            
        },
        tenureToDelete: function(){
            if (this.deleteTenureId > 0){
                return this.tenures.find(e => e.id == this.deleteTenureId);
            }
            return null;
        },
        canEdit: function(){
            return this.userInfo != null && this.userInfo.flags != null && (this.userInfo.flags.includes("ICMS_admin") || this.userInfo.flags.includes("ICMS_rootsecr"));
        },
        dateAsOf: function(){
            return this.showAsOfDate;
        },
        headers: function(){
            var headers = [
                    {text: 'CMS ID', value: 'cms_id', sortable: true},
                    {text: 'First name', value: 'first_name', sortable: true},
                    {text: 'Last name', value: 'last_name', sortable: true},
                    {text: 'Inst code', value: 'inst_code', sortable: true},
                    {text: 'Position', value: 'position', sortable: true},
                    {text: 'Unit', value: 'domain', sortable: true},
                    {text: 'Start date', value: 'start_date', sortable: true},
                    {text: 'End date', value: 'end_date', sortable: true}
                ];
            if (this.canEdit){
                headers.push({text: 'Actions', value: 'actions'});
            }
            return headers;
        }

    }
}
</script>

<style>

</style>
