<template>
    <base-page>
        <template v-slot:toolbar-left></template>
        <template v-slot:toolbar-title>Vote delegations</template>
        <template v-slot:toolbar-right></template>
        <template v-slot:body></template>
        <template v-slot:actions></template>
    </base-page>
</template>

<script>

    import VuetifyPage from '../components/VuetifyPage.vue'
    import Ajax from '../utils/Ajax.js'

    export default {
        name: 'VoteDelegations',
        components: {
            'base-page': VuetifyPage,
        },
        data: {},
        props: {},
        computed: {},
        methods: {
            storeVotingEvents: function(data){
                console.debug('Received voting events list');
                console.debug(data);
            }
        },
        mounted: function(){
            Ajax.getVotingEventsList(this.storeVotingEvents)
        },
    }
</script>

<style scoped>

</style>